* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .width {
    width: 100% !important;
  }
  #box_container {
    padding: 0px 12px !important;
  }
}
@media screen and (max-width: 600px) {
  .type_sort {
    // grid-template-columns: 1fr !important;
  }
}
.width {
  width: 1200px;
  margin: 0 auto;
}
#box_container {
  // background-color: #f4f4f4;
  .outside_container {
    padding: 100px 0px;
    // 标题
    .title {
      margin-bottom: 60px;
    }
    // 分类
    .type_sort {
      display: grid;
      gap: 48px;
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
      margin-bottom: 36px;
      & > div:nth-child(1) {
      }
      & > div:nth-child(2) {
      }
      & > div:hover {
        box-shadow: 0 5px 40px rgb(0 0 0 / 20%);
        transition: all, 0.5s;
      }
      & > div {
        background-color: #fff;
        border-radius: 10px;
        position: relative;
        .type_sort_title {
          padding-left: 48px;
          h1 {
            color: rgb(68, 67, 67);
            height: 120px;
            line-height: 120px;
          }
        }
        .type_sort_details {
          padding: 12px 48px 84px;
          ul li {
            padding-left: 18px;
            position: relative;
            color: rgba(44, 44, 44, 0.8);
            font-weight: 400;
            line-height: 1.75;
          }
          ul li:before {
            border-radius: 50%;
            content: '';
            height: 8px;
            width: 8px;
            left: 0;
            top: 10px;
            position: absolute;
            background: #69c384;
          }
          ul.enterprise li::before {
            background: #3d3fea !important;
          }
          ul.cloud li::before {
            background: #f1aa4c !important;
          }
          .type_sort_free {
            color: #69c384;
          }
          .type_sort_cloud {
            color: #f1aa4c;
          }
          .type_sort_enterprise a {
            color: #3d3fea;
          }
          .type_sort_enterprise a:hover {
            text-decoration: none;
          }
        }
        // 按钮
        .btns {
          width: 120px;
          text-align: center;
          display: inline-block;
          position: absolute;
          bottom: 24px;
          left: 48px;
          cursor: pointer;
          color: white;
          padding: 12px 20px;
          margin-left: -2px;
          font-weight: 600;
          box-shadow: rgb(0 105 165 / 35%) 0px 0px 32px;
          border-radius: 50px;
          font-family: 'Yuanti SC', Youyuan, 'You Yuan', 幼圆, 'PingFang SC',
            'Microsoft Yahei', Helvetica, sans-serif;
        }
        .btns.free {
          background: linear-gradient(300deg, #2c8857 22.25%, #3fc67d 78.93%);
        }
        .btns.enterprise {
          background: linear-gradient(300deg, #36416f 26.66%, #54629b 72.75%);
        }
        .btns.cloud {
          background: linear-gradient(300deg, #d65252 26.66%, #fab75f 72.75%);
        }
        .btns.calculator {
          background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
        }
        .btns:hover {
          text-decoration: none;
        }
      }
    }
    //参数比较
    .params_contrast:hover {
      box-shadow: 0 5px 40px rgb(0 0 0 / 20%);
      transition: all, 0.5s;
    }
    .params_contrast {
      border-radius: 10px;
      background-color: #fff;
      // 标题
      .contrast_title {
        padding-left: 24px;
        font-weight: 400;
        height: 84px;
        line-height: 84px;
        font-size: 20px;
        border-bottom: 1px solid #ccc;
      }
      // 描述
      .contrast_desc {
        padding: 24px;
        .contrast_desc_title {
          margin: 12px 0px;
          display: grid;
          grid-template-columns: 2fr 1fr 1fr 1fr;
          span {
            font-size: 24px;
          }
        }
        // 详情差异
        .contrast_desc_detail {
          & > div {
            margin-top: 32px;
          }
          & > div > div:nth-child(1) {
            color: rgba(44, 44, 44, 0.6);
            padding: 12px 0px;
            margin: 12px 0px;
            border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.08);
          }
          & > div > div:not(:first-child) {
            display: grid;
            height: 64px;
            grid-template-columns: 2fr 1fr 1fr 1fr;
            border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.08);
            align-items: center;
          }
          & > div > div:not(:first-child) > span:not(:first-child) {
            padding-left: 24px;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
.copyright {
  text-align: center;
  margin-top: 24px;
}
// 皮肤主题适配
[data-theme='dark'] #box_container {
  background-color: transparent !important;
  .type_sort > div,
  .params_contrast {
    background-color: #3d3737 !important;
    .type_sort_title {
      border-bottom: 1px solid #ffffff !important;
      h1 {
        color: #fff !important;
      }
    }
    .type_sort_details ul li {
      color: #fff !important;
    }
  }
  // 参数对比
  .contrast_desc_detail > div div:nth-child(1) span {
    color: rgb(137, 131, 132);
  }
}
