body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
/* h1, h2, h3, h4, h5, h6{ font-size:100%; }  */
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:AppleSystemUIFont, courier, monospace; } 
/* small{ font-size:12px; }  */
ul, ol { list-style:none; } 
a { text-decoration:none!important; } 
a:hover { text-decoration:underline;color: #4A90E2; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
/* button, input, select, textarea { font-size:100%; }  */
table { border-collapse:collapse; border-spacing:0; }
.wechart-hover{
    position: absolute;
    width: 100px;
    height: 100px;
}

body{
    width:100%;
    overflow-x: hidden;
}
.setWidth{
    width: 90%;
    margin: 0 auto;
}

/** first_section*/

.first_section {
    background-color: #313a5a;
    height: 80px;
    display: flex;
    align-items: center
}

.nav-logo {
    float: left;
    width: 25%;
    height: 50px;
}

.navbar-bg {
    height: 50px;
    width: 90%;
    line-height: 50px;
    margin-bottom: 0px;
    border-radius: 0px;
}

#nav-list {
    line-height: 50px;
    float: left;
    height: 50px;
    width: 50%;
    display: flex;
    justify-content: center;
}

#nav-list li {
    height: 50px;
    line-height: 50px;
    width: 100px;
    float: left;
    text-align: center;
}

ul.nav-flex li a {
    color: #ffffff;
    font-size: 13px;
}

.highBtnBox {
    height: 50px;
    line-height: 50px;
    float: left;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.highBtnBox .highBtnUl {
    display: flex;
    height: 100%;
    align-items: center;
}

.highBtnBox li {
    float: left;
    font-family: Helvetica;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 120px;
    margin-right: 20px;
    cursor:pointer;
}

.highBtnBox .highBtnUl li.highBtnShow {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

.highBtnBox .highBtnUl li.highBtnQuick {
    background: #4A90E2;
    box-shadow: 0 8px 34px 0 #4A90E2;
    border-radius: 5px;
}

/** second_section*/

.second_section {
    background-color: #313a5a;
    padding-bottom: 20%;
}

.second_section .lefBox {
    width: 50%;
    float: left;
    padding-top: 7%;
    /* 在 阿里云 上 用 Rainbond 开: */
    font-family: PingFangSC-Regular;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.second_section .lefBox ul {
    padding: 0;
}
.second_section .lefBox ul li{
     display: flex;
     align-items: center;
     height: 68px;
} 
.second_section .lefBox ul li a{
    color: #FFFFFF;
}

#rollingOne{ 
    width:175px;
    height:100%;
    overflow: hidden;
    display:inline-block;
 }
 #rollingOne a{
    font-family: PingFangSC-Regular;
    animation: rollingOne 9s infinite ease;
    width: 535px;
    height: 100%;
    display: inline-block;
 }
 #rollingTwo{
    width:125px;
    height:100%;
    overflow: hidden;
    display:inline-block;
 }
 #rollingTwo a{
    font-family: PingFangSC-Regular;
    animation: rollingTwo 12s infinite ease;
    width: 535px;
    height: 100%;
    display: inline-block;
 }
 #rollingThree{
    width:255px;
    height:100%;
    overflow: hidden;
    display:inline-block;
 }
 #rollingThree a{
    font-family: PingFangSC-Regular;
    animation: rollingThree 6s infinite ease;
    width: 1000px;
    height: 100%;
    display: inline-block;
 }
@keyframes rollingOne {
    0% {
        margin-left: 125px;
    }
    2% {
        margin-left: 0px;
    }
   
    33% {
        margin-left: 0px;
    }
    35% {
      margin-left: -160px;
    }
  
      66% {
        margin-left: -160px;
      }
      68% {
        margin-left: -320px;
      }
  
    100% {
      margin-left: -320px;
    }
}

@keyframes rollingTwo {
    0% {
        margin-left: 115px;
    }
    2% {
        margin-left: 0px;
    }
    33% {
        margin-left: 0px;
    }
    35% {
        margin-left: -128px;
      }
    66% {
      margin-left: -128px;
    }
    68% {
        margin-left: -258px;
      }
    100% {
      margin-left: -258px;
    }
}

@keyframes rollingThree {
    0% {
        margin-left: 255px;
    }
    2% {
        margin-left: 0px;
    }
    33% {
        margin-left: 0px;
    }
    35% {
        margin-left: -430px;
      }
    66% {
      margin-left: -430px;
    }
    68% {
        margin-left: -800px;
      }
    100% {
      margin-left: -800px;
    }
}

.second_section .rightBox {
    width: 50%;
    float: left;
    padding-top: 20%;
}

.second_section .rightBox .first_title {
    /* 一句话解释什么是企业应用云操作系统: */
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: right;
}

.second_section .rightBox .second_title {
    /* 企业应用云操作系统: */
    font-family: PingFangSC-Regular;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: right;
    padding:2% 0 5% 0;
}

.second_section .rightBox .third_title {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    align-items:center;
}

.second_section .rightBox .third_title span {
    float: right;
    /* Rectangle: */
    border: 2px solid #FFFFFF;
    /* Gitee: */
    font-family: Helvetica;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    border-radius: 5px;
    width: 120px;
    padding: 8px 0;
    margin-left: 10px;
}

.second_section .rightBox .third_title span.active {
    /* Rectangle: */
    background: #4A90E2;
    border: 1px solid #4A90E2;
    box-shadow: 0 -8px 34px 0 #4A90E2;
}

/** third_section*/
.third_section .container {
    box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.50);
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: -430px;
    margin-bottom: 110px;
    width: 85%;
}
.third_section_top{
    background-color: #fff;
}
.bj{
    background: #fff;
    height: 320px;
    width: 100%;
}
.third_section .container div{
    background-color: #fff;
}
.third_section .container li {
    margin-bottom: 10%;
    margin-left: 20%;
}

.third_section .container li.third_section_title {
    padding-top: 4%;
}

.third_section .container li.third_section_title img {
    /* Rectangle: */
    background-color: #f8f9fc;
    border-radius: 6px;
}

.third_section .container li.third_section_text {
    margin-bottom: 5%;
}

.third_section .container li.third_section_line {
    /* Rectangle 2: */
    border: 1px solid #4A90E2;
    width: 20%;
    margin: 0 0 5% 20%;
}

.third_section .container li.third_section_content {
    /* You only need 1 acco: */
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #5B6C94;
    letter-spacing: 0;
    line-height: 32px;
}

.container{
    width: 100%; 
}


/* S-视频*/
.box {
    width: 95%;
    height: 500px;
    position: relative;
    margin: 5% auto;
}

.box .list {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: absolute;
}

.box  .btn {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 60px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 255, 0, .5);
    cursor: pointer;
    display: none
}

.box  .next {
    right: 0;
}

.box li {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    opacity: 1;
    transition: all 0.3s ease-out;
    width: 60%;
    height: 400px;
}

.list ul li  div:nth-child(1) {
    width: 100%;
    height: 100%;
    border: none;
    float: left;
}
.p1 {
    transform: translate3d(-20%, 0, 0) scale(0.81);
}

.p2 {
    transform: translate3d(0px, 0, 0) scale(0.81);
    transform-origin: 0 50%;
    opacity: 0.8;
    z-index: 2;
}

.p3 {
    transform: translate3d(33%, 0, 0) scale(1);
    z-index: 3;
    opacity: 1;
}

.p4 {
    transform: translate3d(100%, 0, 0) scale(0.81);
    transform-origin: 100% 50%;
    opacity: 0.8;
    z-index: 2;
}

.video-1 {
    background: url('../video/video-bg-1.png') center center no-repeat;
    background-size: 100% 100%;
}

.video-2 {
    background: url('../video/video-bg-2.png') center center no-repeat;
    background-size: 100% 100%;
}

.video-3 {
    background: url('../video/video-bg-3.png') center center no-repeat;
    background-size: 100% 100%;
}

.video-4 {
    background: url('../video/video-bg-4.png') center center no-repeat;
    background-size: 100% 100%;
}

.video-icon {
    /*display: none;*/
    position: absolute;
    font-size: 60px;
    /*top: 60%;*/
    /*left: 55%;*/
    /*margin-top: -52px;*/
    /*margin-left: -26px;*/
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    width: 52px;
    height: 52px;
    background: url('https://vs5.bdstatic.com/browse_static/v3/search_v2/page/play_f073d9b.png') center center no-repeat
}
.buttons {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    text-align: center;
}

.buttons a {
    cursor: pointer;
}

 .buttons span {
    display: inline-block;
    font-family: SFNSDisplay;
    font-size: 20px;
    color: #212121;
    text-align: center;
    line-height: 34px;
    display: none;
}

.blue{
    display: block!important;
}
.video-title{
    font-family: SFNSDisplay;
    font-size: 24px;
    color: #212121;
    text-align: center;
    line-height: 34px;
}
.vido-bjcolor{
    background: #f8f9fc;
}
/* E-视频*/

/* S-逻辑架构*/
.logicalArchitecture{
    background: #fff;
}
.logicalArchitecture-top{
    font-family: PingFangSC-Regular;
   padding: 3% 0 4% 0;
}
.logicalArchitecture-box{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.logicalArchitecture_top-l{
    font-size: 30px;
    color: #212121;
    line-height: 42px;
}
.logicalArchitecture_top-r{
    font-size: 14px;
    padding-left: 10px;
    color: #4A90E2;
    line-height: 42px;
    cursor: pointer;
}


.logicalArchitecture-c-t{
    margin-top: 3%;
    font-family: PingFangSC-Regular;
    display: flex;
    align-items: center;
}


.logicalArchitecture_cen-t-l  img{
 width: 80%; 
}
.logicalArchitecture_cen-t-r h6{
    font-size: 24px;
    color: #212121;
    line-height: 34px;
}

.logicalArchitecture-c-b{
    font-family: PingFangSC-Regular;
    display: flex;
    align-items: flex-end;
    padding-bottom: 8%;
}
.logicalArchitecture_cen-l img{
    width: 75%; 
}
.logicalArchitecture_cen-r h6{
    padding-bottom: 10px;
    font-size: 24px;
    color: #212121;
    line-height: 34px;
}
/* E-逻辑架构*/


/* S-功能特性*/
.features{
background: #f8f9fc;
}
.features-center{
    margin: 4% auto;
    width: 90%;
}
.features_box h6{
    font-family: AppleSystemUIFont;
    font-size: 18px;
    color: #212121;
    letter-spacing: 0;
    line-height: 24px;
}
.features_box div{
    margin: 10% 0 ;
    font-family:AppleSystemUIFont;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    text-align: left;
    line-height: 32px;
}
/* E-功能特性*/


/* S-正在使用 */
.isUsing{
    padding-bottom: 10%;
    background: #fff;
}

/*轮播*/
.banner {position:relative;overflow:auto;text-align:center;}
.banner li {list-style: none;}
.banner ul li {float: left;}
.dots{position:absolute;bottom:10px;left:0;right:0;}  
.unslider-nav,.unslider-arrow{ display: none;}
/* E-正在使用 */


/* S-底部*/
.footer{
    background: #313A5A;
}
.footer-t {
    padding: 5% 0 ;
}
.footer-t  a{
    cursor: pointer;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    background: #4A90E2;
    border: 1px solid #4A90E2;
    box-shadow: 0 -8px 34px 0 #4A90E2;
    width: 280px;
    height: 40px;
    line-height: 40px;
    font-family: AppleSystemUIFont;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}
.footer-c{
    padding: 2% 0;
}
.footer-c a,.footer-c span{
    cursor: pointer;
    font-family: AppleSystemUIFont;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px;
}
.footer-c span{
margin: 0 1%;
}
.footer-b {
    padding-bottom: 3%;
}
.footer-b a{
    cursor: pointer;
    font-family: AppleSystemUIFont;
    font-size: 16px;
    color: #9B9B9B;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px;
    display: block;
}
.social {display: flex;justify-content: center;position: relative;}
.social a{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border-radius: 5px 5px;
    display: block;
}
.github{
    background: url("../images/logos/github1.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 50% 50%;
    /*background-color: #FFFFFF;*/
}
.weibo{
    background: url("../images/logos/weibo1.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 80% 80%;
    /*background-color: #FFFFFF;*/
}
.wechart{
    background: url("../images/logos/chart1.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 80% 80%;
    /*background-color: #FFFFFF;*/
}
.luntan{
    background: url("../images/logos/bg1.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 50% 50%;
    /*background-color: #FFFFFF;*/
}
/* E-底部*/


@media (min-width: 320px) and (max-width:768px) { 
    .container{
        width: 100%;
        padding: 0!important;
        margin: 0!important;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
.col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4,
.col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7,
.col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9,
.col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12,
.col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px
}


/* S-逻辑架构*/
    .logicalArchitecture-top{
        font-family: PingFangSC-Regular;
       padding-top: 5%;
    }
    .logicalArchitecture_top-l{
        font-size: 18px;
        color: #212121;
        line-height: 20px;
    }
    .logicalArchitecture_top-r{
        font-size: 12px;
        padding-left: 10px;
        color: #4A90E2;
        line-height: 20px;
        cursor: pointer;
    }
    
    .logicalArchitecture-c-t{
        margin-top: 3%;
        font-family: PingFangSC-Regular;
        display: flex;
        align-items: center;
    }
    
    
    .logicalArchitecture_cen-t-l  img{
     width: 80%; 
    }
    .logicalArchitecture_cen-t-r h6{
        font-size: 12px;
        color: #212121;
        line-height: 12px;
    }
    
    .logicalArchitecture-c-b{
        font-family: PingFangSC-Regular;
        display: flex;
        align-items: flex-end;
        padding-bottom: 15%;
    }
    .logicalArchitecture_cen-l img{
        width: 80%; 
    }
    .logicalArchitecture_cen-r h6{
        padding-bottom: 1px;
        font-size: 12px;
        color: #212121;
        line-height: 12px;
    }

/* E-逻辑架构*/

/* S-功能特性*/
.features-center{
    margin: 4% 0;
}
.features_box h6{
    font-family: AppleSystemUIFont;
    font-size: 14px;
    color: #212121;
    letter-spacing: 0;
    line-height: 14px;
}
.features_box div{
    margin: 10% 0 ;
    font-family:AppleSystemUIFont;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
    text-align: left;
    line-height: 14px;
}
/* E-功能特性*/


/* S-底部*/
.footer{
    background: #313A5A;
}
.footer-t {
    padding: 12% 0 5% 0 ;
}
.footer-t  a{
    cursor: pointer;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    background: #4A90E2;
    border: 1px solid #4A90E2;
    box-shadow: 0 -8px 34px 0 #4A90E2;
    width: 140px;
    height: 20px;
    line-height: 20px;
    font-family: AppleSystemUIFont;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}
.footer-c{
    padding: 2% 0;
}
.footer-c a,.footer-c span{
    cursor: pointer;
    font-family: AppleSystemUIFont;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
}
.footer-c span{
margin: 0 1%;
}
.footer-b {
    padding-bottom: 6%;
}
.footer-b a{
    cursor: pointer;
    font-family: AppleSystemUIFont;
    font-size: 12px;
    color: #9B9B9B;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    display: block;
    width: 60%;
    margin: 0 auto;
}
.social {display: flex;justify-content: center;position: relative;}
.social a{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border-radius: 5px 5px;
    display: block;
}
.github{
    background: url("../images/logos/github1.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 50% 50%;
    /*background-color: #FFFFFF;*/
}
.weibo{
    background: url("../images/logos/weibo1.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 80% 80%;
    /*background-color: #FFFFFF;*/
}
.wechart{
    background: url("../images/logos/chart1.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 80% 80%;
    /*background-color: #FFFFFF;*/
}
.luntan{
    background: url("../images/logos/bg1.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 50% 50%;
    /*background-color: #FFFFFF;*/
}
/* E-底部*/




/*-------------------------*/
/** second_section*/

.second_section {
    background-color: #313a5a;
    min-height:0;
    padding-bottom: 6%;
}

.second_section .lefBox {
    width: 100%;
    padding-top: 7%;
    /* 在 阿里云 上 用 Rainbond 开: */
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    display: flex;
    justify-content:space-between;
}

.second_section .lefBox ul {
    float: right;
    padding: 0;
    margin-right: 4px;
}
.second_section .lefBox ul li{
    display: flex;
    align-items: center;
    height: 20px;
}
.second_section .lefBox ul li a{
    color: #FFFFFF;
}

#rollingOne{ 
    width:50px;
    overflow: hidden;
    display:inline-block;
 }
 #rollingOne a{
    font-family: PingFangSC-Regular;
    animation: rollingOne 9s infinite ease;
    width: 200px;
    display: inline-block;
 }
 #rollingTwo{
    width:30px;
    height:100%;
    margin-left: 48px;
    overflow: hidden;
    display:inline-block;
 }
 #rollingTwo a{
    font-family: PingFangSC-Regular;
    animation: rollingTwo 12s infinite ease;
    width: 200px;
    height: 100%;
    display: inline-block;
 }
 #rollingThree{
    width:71px;
    height:100%;
    margin-left: 7px;
    overflow: hidden;
    display:inline-block;
 }
 #rollingThree a{
    font-family: PingFangSC-Regular;
    animation: rollingThree 15s infinite ease;
    width: 350px;
    height: 100%;
    display: inline-block;
 }
@keyframes rollingOne {
    0% {
        margin-left: 47px;
    }
    2% {
        margin-left: 0px;
    }
    33% {
        margin-left: 0px;
    }
    35% {
        margin-left: -47px;
      }
    66% {
      margin-left: -47px;
    }
    68% {
        margin-left: -93px;
      }
    100% {
      margin-left: -93px;
    }
}

@keyframes rollingTwo {
    0% {
        margin-left: 50px;
    }
    2% {
        margin-left: 0px;
    }
    33% {
        margin-left: 0px;
    }
    35% {
        margin-left: -36px;
      }
    66% {
      margin-left: -36px;
    }
    68% {
        margin-left: -75px;
      }
    100% {
      margin-left: -75px;
    }
}

@keyframes rollingThree {
    0% {
        margin-left: 70px;
    }
    2% {
        margin-left: 0px;
    }
    33% {
        margin-left: 0px;
    }
    35% {
        margin-left: -100px;
      }
    66% {
      margin-left: -100px;
    }
    68% {
        margin-left: -220px;
      }
    100% {
      margin-left: -220px;
    }
}
.second_section .rightBox {
    width: 100%;
    padding-top: 0%;
}

.second_section .rightBox .first_title {
    /* 一句话解释什么是企业应用云操作系统: */
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: right;
    padding: 5% 4%;
}

.second_section .rightBox .second_title {
    /* 企业应用云操作系统: */
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: right;
    padding:2% 4% 5% 0;
}

.second_section .rightBox .third_title {
    display: flex;
    justify-content: space-evenly;
    padding: 5% 0;
}

.second_section .rightBox .third_title span {
    float: right;
    /* Rectangle: */
    border: 2px solid #FFFFFF;
    /* Gitee: */
    font-family: Helvetica;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    border-radius: 5px;
    width: 60px;
    margin-left: 0px;
}

.second_section .rightBox .third_title span.active {
    /* Rectangle: */
    background: #4A90E2;
    border: 1px solid #4A90E2;
    box-shadow: 0 -8px 34px 0 #4A90E2;
}

/** third_section*/
.third_section {
    background-color: #fff;

}
.third_section .container {
    box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.50);
    border-radius: 10px;
    margin-top: -8%;
    background-color: #fff;
    width: 100%;
}
.third_section .container div{
    background-color: #fff;
}
.third_section .container li {
    margin-bottom: 3%;
    margin-left: 8%;
}

.third_section .container li.third_section_title {
    padding-top: 4%;
}

.third_section .container li.third_section_title img {
    /* Rectangle: */
    background-color: #ffffff;
    border-radius: 6px;
    width: 10%;
}

.third_section .container li.third_section_text {
    margin-bottom: 3%;
}

.third_section .container li.third_section_line {
    /* Rectangle 2: */
    border: 1px solid #4A90E2;
    width: 20%;
    margin: 0 0 3% 9%;
}

.third_section .container li.third_section_content {
    /* You only need 1 acco: */
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #5B6C94;
    letter-spacing: 0;
    line-height: 16px;
}
.bj{
    background: #f8f9fc;
    height: 0px;
    width: 100%;
}
.third_section_top div ul{
 padding: 3% 0 5% 0;
}


.box {
    width: 95%;
    height: 200px;
    position: relative;
    margin: 10% auto;
}

.box .list {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: absolute;
}

.box  .btn {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 60px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 255, 0, .5);
    cursor: pointer;
    display: none
}

.box  .next {
    right: 0;
}

.box li {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    opacity: 1;
    transition: all 0.3s ease-out;
    height: 150px;
    width: 60%;
}

.list ul li  div:nth-child(1) {
    width: 100%;
    height: 150px;
    border: none;
    float: left;
}

.p1 {
    transform: translate3d(-20%, 0, 0) scale(0.81);
}

.p2 {
    transform: translate3d(0px, 0, 0) scale(0.81);
    transform-origin: 0 50%;
    opacity: 0.8;
    z-index: 2;
}

.p3 {
    transform: translate3d(33%, 0, 0) scale(1);
    z-index: 3;
    opacity: 1;
}

.p4 {
    transform: translate3d(100%, 0, 0) scale(0.81);
    transform-origin: 100% 50%;
    opacity: 0.8;
    z-index: 2;
}

.video-1 {
    background: url('../video/video-bg-1.png') center center no-repeat;
    background-size: 100% 100%;
}

.video-2 {
    background: url('../video/video-bg-2.png') center center no-repeat;
    background-size: 100% 100%;

}

.video-3 {
    background: url('../video/video-bg-3.png') center center no-repeat;
    background-size: 100% 100%;

}

.video-4 {
    background: url('../video/video-bg-4.png') center center no-repeat;
    background-size: 100% 100%;
}

.video-icon {
    /*display: none;*/
    position: absolute;
    font-size: 14px;
    /*top: 60%;*/
    /*left: 55%;*/
    /*margin-top: -52px;*/
    /*margin-left: -26px;*/
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    width: 25px;
    height: 25px;
    background: url('https://vs5.bdstatic.com/browse_static/v3/search_v2/page/play_f073d9b.png') center center no-repeat
}
.buttons {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    text-align: center;
}

.buttons a {
    cursor: pointer;
}

 .buttons span {
    display: inline-block;
    font-family: SFNSDisplay;
    font-size: 13px;
    color: #212121;
    text-align: center;
    line-height: 18px;
    display: none;
}

.blue{
    display: block!important;
}
.video-title{
    font-family: SFNSDisplay;
    font-size: 12px;
    color: #212121;
    text-align: center;
    line-height: 18px;
}
/* E-视频*/

.header .navbar{
background: #313a5a!important;
}
.header #ulnav li{
    border-bottom: 1px solid #DADADA;
}
#ulnav {
    height: 190px;
}
#ulnav li a {
    height: 40px;
    line-height: 40px;
    color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
background: #313a5a!important;

}
.navbar-default{
    border-color: #313a5a!important;
}

/*轮播*/
.banner {position:relative;overflow:auto;text-align:center;}
.banner li {list-style: none;}
.banner ul li {float: left;height: 100px;}
.banner ul li img{ background: #f8f9fc; height: 100%;}
.dots{position:absolute;bottom:10px;left:0;right:0;}  
.unslider-nav,.unslider-arrow{ display: none;}
/* E-正在使用 */

 }
 @media (min-width: 340px) and (max-width:768px) {
    .logicalArchitecture_cen-r h6:nth-last-child(1){
        padding-top: 37%;
      }
 }
 @media (min-width: 350px) and (max-width:768px) {
  
      .footer-b a{
        width: 54%;
    }
 }
 @media (min-width: 380px) and (max-width:768px) {
    .footer-b a{
        width: 50%;
    }
 }


