.navbar-bg{
    background-color: #4a4a4a;
    height: 50px;
    width: 100%;
    line-height: 50px;
    margin-bottom: 0px;
    border-radius: 0px;
}
#nav-list{
    width: 50%;
    line-height: 50px;
    float: right;
}
#nav-list li{
    height:50px;
    line-height: 50px;
}
.navContainer{
    margin: 0 auto;
    max-width: 1095px;
}
ul.nav-flex{
    display: flex;
    flex: 1;
    justify-content: space-between;
}
ul.nav-flex li a{
    color: #ffffff;
    font-size: 13px;
}
ul.nav-flex li a.active{
    color:#F5A623;
}
.main-container{
    margin: 0 auto;
    max-width: 1095px;
    color: #ffffff;
    padding-top: 180px
}
.bgLinear{
    /* Background: */
    background-image: linear-gradient(0deg, #17E7E0 0%, #15CE8E 100%, #14CD72 100%, #15CD85 100%, #14CD72 100%);
}
.fontsize_44{
    font-size: 44px;

}
.fontsize58{
    font-size: 58px;
}
.textRight{
    text-align: right;
}
.textRight span {
    width: 100px;
    border: 1px solid #ffffff;
    display: inline-block;
    text-align: center;
    height: 36px;
    line-height: 36px;
    border-radius: 2px;
    color: #ffffff;
}
.height50{
    height: 50px;
    line-height: 50px;
}
.lineProgress{
    margin-top: 220px;
    font-size: 0;
}
.lineProgress span{
    width: 20%;
    display: inline-block;
    border-bottom: 5px solid #ffffff;
    text-align: center;
    font-size: 12px;
    height: 35px;
}
.lineProgress span a{
    /* 开源: */
    font-family: AppleSystemUIFont;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 2.4px;
    text-align: center;
}
.lineProgress span.active{
    border-bottom-color:#f5a623;
}
.left-box{
    width: 35%;
    height: 156px;
    border-right: 1px solid #ffffff
}

.right-box{
    width: 65%;
    padding-left: 20%;
}
.nav-logo{
    float: left;
}
.container-fluid div.description{
    height: 250px;
    text-align: center;
    margin: 10px auto;
    max-width: 805px;
    display: flex;
    align-items: center;
    /* Rainbond深度整合基于Kubern: */
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #2C2C2C;
    letter-spacing: 0.18px;
    text-align: center;
    line-height: 35px;
}

.container-fluid .logoContainer{
    height: 150px;
    margin: 0 auto;
    max-width: 1095px;
}
.video {
    margin-top: 16px;
}

.video-1 {
    background: url('../video/video-bg-1.png') center center no-repeat;
}

.video-2 {
    background: url('../video/video-bg-2.png') center center no-repeat;
}

.video-3 {
    background: url('../video/video-bg-3.png') center center no-repeat;
}

.video-4 {
    background: url('../video/video-bg-4.png') center center no-repeat;
}

.video-outer {
    cursor: pointer;
    position: relative;
    display: flex;
    height: 150px;
    width: 80%;
    text-align: center;
    padding: 0;
    background-size: 100% 100%;
    transition: all .5s;
}

.video-outer:hover {
    background-size: 105% 105%;
}

.video-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    border-right: none;
    border-left: none;
}

.video-title {
    transition: all .5s;
    background: rgba(0, 0, 0, 0.6);
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    width: 100%;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

.video-outer:hover title {
    font-size: 18px;
}

.video-icon {
    display: none;
    position: absolute;
    font-size: 60px;
    top: 50%;
    left: 50%;
    margin-top: -52px;
    margin-left: -26px;
    color: #fff;
    width: 52px;
    height: 52px;
    background: url('https://vs5.bdstatic.com/browse_static/v3/search_v2/page/play_f073d9b.png') center center no-repeat
}
.tip{
    /* 他们正在使用 Rainbond: */
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #2C2C2C;
    letter-spacing: 0.01px;
    line-height: 43px;
}

.titleRain{
    /* 他们正在使用 Rainbond: */
    font-family: PingFangSC-Regular;
    font-size: 24px;
    letter-spacing: 0.01px;
    line-height: 43px;
    color: #14CE72;
}
.marquee-wrap{
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    height: 50px;
    margin-top: 20px;
}
.marquee-wrap ul li{
    /*float: left;*/
    width: 100px;
    height: 50px;
    margin-right: 55px;
    display: inline-block;
}
.marquee-wrap ul li img{
    width: 100%;
    height: 100%;
}
.tip1{
    /* 特性: */
    padding-top: 50px;
    font-family: SFNSDisplay;
    font-size: 24px;
    color: #000000;
    letter-spacing: -0.05px;
    text-align: center;
}
.feature .blueA{
    /* 原生Service Mesh微服务架构: */
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #14CE72;
    letter-spacing: 0.43px;
    text-align: left;
}
.feature .featureText{
    /* 跨语言、跨协议、无侵入的ServiceM: */
    font-family: AppleSystemUIFont;
    font-size: 14px;
    color: #626262;
    letter-spacing: 0.2px;
    text-align: left;
    line-height: 24.88px;
}
.padding5{
    padding: 50px 20px 10px 0;
}
.useSence{
    padding-top: 40px;
}
.useSence .tip{
    /* 使用场景: */
    font-family: SFNSDisplay;
    font-size: 24px;
    color: #2C2C2C;
    letter-spacing: 0.01px;
    text-align: center;
}
.useSence .blueA{
    /* 各类微服务架构平台: */
    font-family: AppleSystemUIFont;
    font-size: 20px;
    color: #14CE72;
    letter-spacing: 0.43px;
    text-align: left;
}
.useSence .blueA-inner{
    /* 各类微服务架构平台: */
    font-family: AppleSystemUIFont;
    font-size: 15px;
    color: #14CE72;
    letter-spacing: 0.43px;
    text-align: left;
}
.useSence .textStyle{
    /* 借助Rainbond提供的开箱即用的Se: */
    font-family: AppleSystemUIFont;
    font-size: 14px;
    color: #626262;
    letter-spacing: 0.2px;
    text-align: left;
    line-height: 24.88px;
    padding: 15px 0;
}
.margin20{
    margin: 20px 0;
    height: 200px;
    padding: 35px 20px;
}
.margintopbottom20{
    margin: 50px 0;
}
.height150{
    height: 150px;
    line-height: 150px;
}
.infoTxt{
    /* Rectangle 30: */
    border: 1px solid #14CE72;
    border-radius: 40px;
    display: inline-block;
    width: 25%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #14CE72;
    font-size: 25px;
}


.ovial a{
    color: #ffffff;
}
a:hover{
    cursor: pointer;
    text-decoration: none;
}
.left-box .leftTextSty{
    /* Rainbond: */
    font-family: SFNSDisplay;

    color: #FFFFFF;
    letter-spacing: 0.01px;
    text-align: left;
    line-height: 55px;
}
#nav-list li a:hover{
    color:#f5a623;
}
@media screen and (max-width: 500px){
    .fontsize_44{
        font-size: 14px;
    }
    .fontsize_12{
        font-size: 12px;
    }
    #nav-list{
        width: 60%;
    }
    #nav-list li {
        height: 50px;
        line-height: 50px;
    }
    .description{
        margin-top: 30px !important;
    }
    .fontsize58{
        font-size: 14px;
    }
    .footerFlag{
        text-align: center;
    }
    .padding30{
        padding: 10px 0 !important;
    }
    .video-outer{
        width: 100%;
    }
    .footer{
        height: 250px !important;
    }
    .footer-copy{
        text-align: center !important;
        height: 50px!important;
        width: 100% !important;
    }
    .footer-title{
        height: 50px !important;
        width: 100% !important;
    }
    .socialTo{
        height: 50px !important;
        width: 100% !important;
    }
    .social{
        height: 50px !important;
        width: 100% !important;
    }
    .infoTxt{
        width: 100% !important;
    }
    .margin20{
        padding: 0px 10px !important;
        height: 250px;
        box-sizing: content-box;
    }

}
.padding30{
    padding: 30px 0;
}
.heighter35{
    height: 35px;
    line-height: 35px;
}
.fontsize13{
    font-size: 13px;
}
.bgfbfbfb{
    background: #FBFBFB;
}
.boxshadow{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px 15px;
}
/*底部*/
.footer{
    background: #222222;
    height: 150px;
}
.footer-title{
    width: 50%;
    float: left;
    /*padding: 30px;*/
    /* Rainbond，以应用为中心的开源Pa: */
    font-family: AppleSystemUIFont;
    font-size: 15px;
    color: #14CE72;
    letter-spacing: 0.1px;
    line-height: 75px;
    height: 75px;
    padding: 0 50px;
}
.social{
    position: relative;
    width: 50%;
    float: left;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
.socialTo{
    position: relative;
    width: 50%;
    float: left;
    padding: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 75px;
}

.footer-nav{
    height: 75px;
}
.footer-copy{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Copyright © 2018 Goo: */
    font-family: PingFangSC-Regular;
    font-size: 10px;
    color: #A7A7A7;
    letter-spacing: 0.1px;
    line-height: 22px;
}
.socialTo a{
    width: 50px;
    height: 50px;
    margin: 15px;
    line-height: 50px;
    text-align: center;
    /* 文档: */
    font-family: AppleSystemUIFont;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
}
.social a{
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 5px 5px;
}
.github{
    background: url("../images/logos/github-logo.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
}
.weibo{
    background: url("../images/logos/webo-logo.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
}
.wechart{
    background: url("../images/logos/wechart-logo.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
}
.luntan{
    background: url("../images/logos/rain-logo.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
}
.wechart-hover{
    position: absolute;
    width: 100px;
    height: 100px;
}

