.navbar-bg{
    background-color: #4a4a4a;
    height: 50px;
    width: 100%;
    line-height: 50px;
    margin-bottom: 0px;
    border-radius: 0px;
}
#nav-list{
    line-height: 50px;
    float: right;
    height: 50px;
    margin-right: 4%;
}
#nav-list li{
    height:50px;
    line-height: 50px;
    width: 100px;
    float: right;
    text-align: center;
}
ul.nav-flex{
    list-style: none;
}
ul.nav-flex li a{
    color: #ffffff;
    font-size: 13px;
}
#nav-list li.defaultSty{
    height: 30px;
    background: #2593fc;
    border-radius: 25px;
    margin-top: 10px;
    line-height: 30px;
}
ul.nav-flex li a.active{
    /* color:#F5A623; */
}
.main-container{
    margin: 0 auto;
    color: #ffffff;
    padding-top: 180px
}
.bgLinear{
    background-image: url('../images/logos/content_bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 640px;
}
.fontsize_44{
    font-size: 44px;

}
.fontsize58{
    font-size: 58px;
}
.textRight{
    text-align: right;
}
.textRight span {
    width: 100px;
    border: 1px solid #ffffff;
    display: inline-block;
    text-align: center;
    height: 36px;
    line-height: 36px;
    border-radius: 2px;
    color: #ffffff;
}
.height50{
    height: 50px;
    line-height: 50px;
}
.lineProgress{
    margin-top: 220px;
    font-size: 0;
}
.lineProgress a{
    width: 20%;
    display: inline-block;
    border-bottom: 5px solid #ffffff;
    text-align: center;
    font-size: 12px;
    height: 35px;

    color: #FFFFFF;
    letter-spacing: 2.4px;
    font-family: AppleSystemUIFont;
}
/*.lineProgress  a{*/
/*!* 开源: *!*/
/*font-family: AppleSystemUIFont;*/
/*font-size: 12px;*/
/*color: #FFFFFF;*/
/*letter-spacing: 2.4px;*/
/*text-align: center;*/
/*}*/
.lineProgress a.active{
    border-bottom-color:#f5a623;
}
.left-box{
    width: 35%;
    height: 156px;
    border-right: 1px solid #ffffff
}

.right-box{
    width: 65%;
    padding-right: 5%;
}
.nav-logo{
    float: left;
    width:209px;
    height: 50px;
    margin-left: 4%;
}
.container-fluid div.description{
    height: 250px;
    text-align: center;
    margin: 10px auto;
    max-width: 805px;
    display: flex;
    align-items: center;
    /* Rainbond深度整合基于Kubern: */
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #2C2C2C;
    letter-spacing: 0.18px;
    text-align: center;
    line-height: 35px;
}

.container-fluid .logoContainer{
    height: 150px;
    margin: 0 auto;
    max-width: 1095px;
}
.video {
    margin-top: 16px;
}

.video-1 {
    background: url('../video/video-bg-1.png') center center no-repeat;
}

.video-2 {
    background: url('../video/video-bg-2.png') center center no-repeat;
}

.video-3 {
    background: url('../video/video-bg-3.png') center center no-repeat;
}

.video-4 {
    background: url('../video/video-bg-4.png') center center no-repeat;
}

.video-outer {
    cursor: pointer;
    position: relative;
    display: flex;
    height: 150px;
    width: 80%;
    text-align: center;
    padding: 0;
    background-size: 100% 100%;
    transition: all .5s;
    border-radius: 12px;
}

.video-outer:hover {
    background-size: 105% 105%;
}

.video-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    border-right: none;
    border-left: none;
}

.video-title {
    transition: all .5s;
    background: rgba(0, 0, 0, 0.6);
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    width: 100%;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.video-outer:hover title {
    font-size: 18px;
}

.video-icon {
    /*display: none;*/
    position: absolute;
    font-size: 60px;
    /*top: 60%;*/
    /*left: 55%;*/
    /*margin-top: -52px;*/
    /*margin-left: -26px;*/
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    width: 52px;
    height: 52px;
    background: url('https://vs5.bdstatic.com/browse_static/v3/search_v2/page/play_f073d9b.png') center center no-repeat
}
.tip{
    /* 他们正在使用 Rainbond: */
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #2C2C2C;
    letter-spacing: 0.01px;
    line-height: 43px;
}

.titleRain{
    /* 他们正在使用 Rainbond: */
    font-family: PingFangSC-Regular;
    font-size: 24px;
    letter-spacing: 0.01px;
    line-height: 43px;
    color: #2593fc;
}
.marquee-wrap{
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    height: 100px;
    margin-top: 20px;
}
.marquee-wrap ul li{
    /*float: left;*/
    width: 120px;
    height: 60px;
    margin-right: 55px;
    display: inline-block;
}
.marquee-wrap ul li img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.tip1{
    /* 特性: */
    padding-top: 50px;
    font-family: SFNSDisplay;
    font-size: 24px;
    color: #000000;
    letter-spacing: -0.05px;
    text-align: center;
}
.feature .blueA{
    /* 原生Service Mesh微服务架构: */
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #2593fc;
    letter-spacing: 0.43px;
    text-align: left;
    font-weight: bond;
}
.feature .featureText{
    /* 跨语言、跨协议、无侵入的ServiceM: */
    font-family: AppleSystemUIFont;
    font-size: 13px;
    color: #626262;
    letter-spacing: 0.2px;
    text-align: left;
    line-height: 24.88px;
}
.padding5{
    padding: 50px 90px 20px 0;
}
.useSence{
    padding-top: 40px;
}
.useSence .tip{
    /* 使用场景: */
    font-family: SFNSDisplay;
    font-size: 24px;
    color: #2C2C2C;
    letter-spacing: 0.01px;
    text-align: center;
}
.useSence .blueA{
    /* 各类微服务架构平台: */
    font-family: AppleSystemUIFont;
    font-size: 20px;
    color: #2593fc;
    letter-spacing: 0.43px;
    text-align: left;
}
.useSence .blueA-inner{
    /* 各类微服务架构平台: */
    font-family: AppleSystemUIFont;
    font-size: 15px;
    color: #2593fc;
    letter-spacing: 0.43px;
    text-align: left;
}
.useSence .textStyle{
    /* 借助Rainbond提供的开箱即用的Se: */
    font-family: AppleSystemUIFont;
    font-size: 14px;
    color: #626262;
    letter-spacing: 0.2px;
    text-align: left;
    line-height: 24.88px;
    padding: 15px 0;
}
.margin20{
    margin: 20px 0;
    height: 200px;
    padding: 35px 20px;
}
.margintopbottom20{
    margin: 50px 0;
}
.height150{
    height: 150px;
    line-height: 150px;
}
.infoTxt{
    /* Rectangle 30: */
    /* border: 1px solid #14CE72; */
    border-radius: 40px;
    display: inline-block;
    width: 25%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    /*font-size: 25px;*/
    background-color: #2593fc;
}
.infoTxt:hover{
    color: #14CE72;
}
a:hover{
    cursor: pointer;
    text-decoration: none;
}
.left-box .leftTextSty{
    /* Rainbond: */
    font-family: SFNSDisplay;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.01px;
    line-height: 55px;
}
#nav-list li a:hover{
    color:#f5a623;
}

.padding30{
    padding: 30px 0;
}
.heighter35{
    height: 35px;
    line-height: 35px;
}
.fontsize13{
    font-size: 13px;
}
.bgfbfbfb{
    background: #FBFBFB;
}
.boxshadow{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px 15px;
}
/*底部*/
.footer{
    background: #222222 !important;
    height: 150px;
}
.footer-title{
    width: 50%;
    float: left;
    /*padding: 30px;*/
    /* Rainbond，以应用为中心的开源Pa: */
    font-family: AppleSystemUIFont;
    font-size: 20px;
    color: #2593fc;
    letter-spacing: 0.1px;
    line-height: 75px;
    height: 75px;
    padding-left: 4%;
}
.social{
    position: relative;
    width: 30%;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding-right: 3.5%;
}
.socialTo{
    width: 50%;
    padding-left: 4%;
    float: left;
}

.footer-nav{
    height: 75px;
    width: 100% !important;
}
.footer-copy{
    height: 50px;
    float: right;
    padding-right: 4%;
    /* Copyright © 2018 Goo: */
    font-family: PingFangSC-Regular;
    font-size: 10px;
    color: #A7A7A7;
    letter-spacing: 0.1px;
    line-height: 50px;
}
.socialTo a{
    /* width: 50px; */
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 40px;
    /* 文档: */
    font-family: AppleSystemUIFont;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
}
.social a{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    border-radius: 5px 5px;
}
.github{
    background: url("../images/logos/github1.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 50% 50%;
    /*background-color: #FFFFFF;*/
}
.weibo{
    background: url("../images/logos/weibo1.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 80% 80%;
    /*background-color: #FFFFFF;*/
}
.wechart{
    background: url("../images/logos/chart1.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 80% 80%;
    /*background-color: #FFFFFF;*/
}
.luntan{
    background: url("../images/logos/bg1.png") center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: 50% 50%;
    /*background-color: #FFFFFF;*/
}
.wechart-hover{
    position: absolute;
    width: 100px;
    height: 100px;
}
.marqueeContainer{
    padding: 8% 0;
    height: 350px;
}
.imgWidth{
    width: 60%;
}
.btn-gr-blue{
    /* color:#fff;
    border-radius: 2px;
     margin-right:50px; 
     padding-right: 15px; */
     background: #f5a623;
}
@media screen and (max-width: 640px){
    #ulnav li{
        border-bottom: 1px solid #DADADA;
    }
    #ulnav li a{
        height: 40px;
        line-height: 40px;
        color: #fff;
    }
    .bgLinear{
        min-height: 400px;
    }
    .titthree{
        width: 100%;
    }
    .marqueeContainer{
        height: 250px;
    }
    .tip{
        width: 100%;
    }
    .top1{
        width: 100%;
    }
    .fontsize_44{
        font-size: 20px;
    }
    .fontsize_12{
        font-size: 12px;
    }
    .description{
        margin-top: 30px !important;
    }
    .fontsize58{
        font-size: 25px;
    }

    .video-outer{
        width: 80%;
    }
    .footer{
        height: 250px !important;
    }
    .footer-nav{
        border: 0px !important;
        padding: 20px 0 !important;
    }
    .footer-copy{
        text-align: center !important;
        height: 50px!important;
        width: 100% !important;
        line-height: 50px;
        padding: 0;
    }
    .footer-title{
        height: 50px !important;
        line-height: 50px !important;
        font-size: 20px !important;
        width: 100% !important;
        text-align: center;
        padding: 0 !important;
    }
    .socialTo{
        height: 50px !important;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .socialTo a{
        margin: 0;
        flex: 1;
    }
    .social{
        height: 50px !important;
        width: 100% !important;
        padding: 0 6%;
        justify-content: space-between;
    }
    .social a{
        margin: 0;
    }
    .infoTxt{
        width: 100% !important;
    }
    .margin20{
        padding: 5% 5% !important;
        /* margin: 2%; */
        box-sizing: content-box;
        height: 100%;
    }
    .feature .padding5{
        padding: 25px 25px 20px 5%;
    }
    .textRight span{
        margin-bottom: 2%;
    }
    .video{
        display: flex;
        justify-content: center;
    }
    .left-box{
        display: none;
    }
    .right-box{
        width: 100%;
        padding: 0;
    }
    .textRight{
        text-align: center;
        margin: 20px 0;
    }
    .main-container{
        padding-top: 35%;
    }
    .imgWidth{
        width: 85%;
    }
    .navbar-toggle{
        background-color: #2e95f9;
    }
    #navbar_header_wrap{
        background-color: #4a4a4a;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
        background-color: #2e95f9;
    }
    .textRight>a>span.btn-gr-blue{
        display: none;
    }
}