<!DOCTYPE html>
<html lang="zh-cn">
{{ partial "head.html" . }}

<body>
    {{ $active:="index" }}
    {{ partial "header.html" (dict "context" . "active" "index")}}
    <section class="hero is-default is-bold">
        <div class="container">
            <div class="content-wrapper">
                <div class="columns">
                    <div class="column is-half-desktop is-full-mobile lw40" style="padding: 16px;">
                        <h1 class="is-hidden-mobile">
                            <img src="images/rainbondlog.png" alt="Rainbond" /><br>
                        </h1>
                        <h2>云原生且易用的应用管理平台</h2>
                        <p>云原生应用交付的最佳实践，简单易用。专注于以应用为中心的理念。赋能企业搭建云原生开发云、云原生交付云。是 <a href="https://store.goodrain.com"
                                target="_blank">Rainstore</a> 云原生应用商店的最佳交付支撑平台。</p>
                        <div class="button-cta">
                            <a class="button is-primary" href="/docs/quick-start/quick-install/" target="_blank"
                                rel="noopener noreferrer">
                                安装使用
                            </a>
                            <a class="button" id="jump_demo" href="javascript:;" rel="noopener noreferrer">
                                在线体验
                            </a>
                        </div>
                    </div>
                    <div class="column is-half-desktop is-full-mobile rw60">
                        <div class="video-wrapper">
                            <div class="video ui">
                                <video id="video" playsinline="" webkit-playsinline controls preload="metadata">
                                    <source
                                        src="https://grstatic.oss-cn-shanghai.aliyuncs.com/videos/demo-video-5.2.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-feature-grey is-medium" id="about">
        <div class="container">
            <div class="title-wrapper has-text-centered">
                <h3 class="title is-6">项目特点</h3>
            </div>

            <div class="content-wrapper">
                <div class="columns is-mobile no-sh is-multiline">

                    <div class="column is-full-mobile card is-half-tablet">
                        <div class="card-title">
                            <h4>以应用为中心</h4>
                        </div>
                        <div class="card-icon">
                            <div class="card-icon-b"><img src="/images/app.svg"></div>
                        </div>
                        <div class="card-text">
                            <p>开发者仅需围绕符合<a href="https://12factor.net/zh_cn/"
                                    target="_blank">12要素</a>的应用（组件）进行开发和运维管理，无需面对复杂的底层资源，包括Kubernetes资源。</p>
                        </div>
                    </div>

                    <div class="column is-full-mobile card is-half-tablet">
                        <div class="card-title">
                            <h4>云原生应用交付</h4>
                        </div>
                        <div class="card-icon">
                            <div class="card-icon-b"><img src="/images/center.svg"></div>
                        </div>
                        <div class="card-text">
                            <p>提供完善的云原生应用组装和多云分发流程，覆盖测试交付、生产运维交付、To B 产品交付等场景。</p>
                        </div>
                    </div>

                    <div class="column is-full-mobile card is-half-tablet">
                        <div class="card-title">
                            <h4>Kubernetes 多云对接</h4>
                        </div>
                        <div class="card-icon">
                            <div class="card-icon-b"><img src="/images/cloud.svg"></div>
                        </div>
                        <div class="card-text">
                            <p>Kubernetes 即将成为云原生基础设施，Rainbond 支持对接管理多个 Kubernetes 集群，提供应用运行环境，屏蔽 Kubernetes
                                技术复杂性，赋能基础设施管理。</p>
                        </div>
                    </div>

                    <div class="column is-full-mobile card is-half-tablet">
                        <div class="card-title">
                            <h4>面向交付的应用架构</h4>
                        </div>
                        <div class="card-icon">
                            <img alt="" src="/images/openapi.svg">
                        </div>
                        <div class="card-text">
                            <p>应用与运行环境解耦合，服务治理架构与业务逻辑解耦合，使应用天生具有微服务治理能力，资源不绑定能力。</p>
                        </div>
                    </div>

                    <div class="column is-full-mobile card is-half-tablet">
                        <div class="card-title">
                            <h4>开发者友好</h4>
                        </div>
                        <div class="card-icon">
                            <img alt="" src="/images/code.svg">
                        </div>
                        <div class="card-text">
                            <p>平台支持多种简单途径持续构建云原生应用，开发者无需学习 Kubernetes 、微服务知识、高级运维知识，即可获得最佳的云原生体验。</p>
                        </div>
                    </div>

                    <div class="column is-full-mobile card is-half-tablet">
                        <div class="card-title">
                            <h4>开 源</h4>
                        </div>
                        <div class="card-icon">
                            <img alt="参与开源" src="/images/community.svg">
                        </div>
                        <div class="card-text">
                            <p>Rainbond 是一个完整开源的企业级平台。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-feature-grey is-medium" id="old-vs-new">
        <div class="container">
            <div class="title-wrapper has-text-centered">
                <h3 class="title is-6">场景与技术</h3>
            </div>
            <div class="content-wrapper">
                <div class="columns">
                    <div class="column is-half oldstuff">
                        <h3>你可能关注的问题:</h3>
                        <h2 class="is-2">跟随云原生技术潮流，解决业务障碍</h2>
                        <ol>
                            <li>企业业务系统多或交付客户环境多，需要建立统一交付体系。</li>
                            <li>To B 交付, 产品复用性差，需要建立标准化产品模块共享平台。</li>
                            <li>To B 交付自动化低，交付周期长，需要更高效的交付方式。</li>
                            <li>交付项目，客户需要一个易于使用且成熟的云平台。</li>
                            <li>已了解 Kubernetes 的优势，却困于如何用好 Kubernetes。</li>
                            <li>企业开发环境、测试环境、公有云生产环境的基础设施和应用统一管理。</li>
                            <li>企业没有运维员工，需要一个开发者友好的开发、运维一体化平台。</li>
                            <li>更多需要使用易用的云原生应用管理平台的场景。</li>
                        </ol>
                    </div>

                    <div class="column is-half newstuff">
                        <h3>通过 Rainbond:</h3>
                        <h2 class="is-2">一站式解决方案</h2>
                        <ol>
                            <li>产品管理、客户管理、在线持续交付技术，打造企业统一应用交付体系。</li>
                            <li>云原生应用模型技术，辅助企业完成业务模块化改进和技术共享。</li>
                            <li>云到云协同、云到端协同技术，打通应用交付全链路。</li>
                            <li>Kubernetes资源自动按需生成技术，直接获取 Kubernetes 最佳实践。</li>
                            <li>多云管理技术，应用在多云间随时迁移。</li>
                            <li>流量管理、应用全方位监控、日志管理，链路追踪等运维技术开箱即用。</li>
                        </ol>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section class="section section-feature-grey is-medium" id="testimonial">
        <div class="container">
            <div class="title-wrapper has-text-centered">
                <h3 class="title is-6">社区用户案例</h3>
            </div>
            <div class="user-items content-wrapper is-mobile columns is-multiline">
                {{range .Site.Params.users}}
                <div class="user-item column is-half-mobile is-2-desktop">
                    <figure class="image">
                        <a title="{{ .title }}"><img src="{{ .logo }}" alt="{{ .title }}" /></a>
                    </figure>
                    <!-- {{ if .description }} 
                    <div class="description">
                        {{ .description }}
                    </div>
                    {{ end }} -->
                </div>
                {{end}}
            </div>
            <div class="has-text-centered">
                <a class="button is-primary user-case">
                    咨询案例详情
                </a>
            </div>
        </div>
        </div>
    </section>
    <!-- 弹窗 -->
    <div class="home-modal">
        <div class="logo">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="close"><img src="/images/close.svg" alt=""></div>
        <div class="desc_text">
            <h2>关注Rainbond</h2>
            <p>关注Rainbond订阅号,了解Rainbond动态</p>
        </div>
        <div class="er_code">
            <img src="/images/er_code.jpg" alt="">
            <span>扫描关注Rainbond</span>
        </div>
    </div>
    {{partial "medium.html" }}

    {{ partial "footer.html" . }}
    <script type="text/javascript" src="/js/video.min.js"></script>
    <script type="text/javascript" src="/js/modal-video.js?20190809"></script>
    <script>
        $(function () {
            var modalVideo = new ModalVideo({ width: 1000, height: 550 });
            $(".video-show").click(function () {
                modalVideo.show({ url: $(this).data("src") });
            });
            // 延迟10S弹窗
            setTimeout(() => {
                $('.home-modal').fadeIn(1000)
            }, 10000)
            //  关闭弹窗
            $('.close').click(() => {
                $('.home-modal').fadeOut(1000)
            })
        });
    </script>
    <script>
        function openTab(evt, tabTitle) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabTitle).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
    <script>
        var clipboard = new ClipboardJS('.button');


        clipboard.on('success', function (e) {
            e.clearSelection();
            console.info('Action:', e.action);
            console.info('Text:', e.text);
            console.info('Trigger:', e.trigger);
            showTooltip(e.trigger, 'Copied!');
        });
        clipboard.on('error', function (e) {
            console.error('Action:', e.action);
            console.error('Trigger:', e.trigger);
            showTooltip(e.trigger, fallbackMessage(e.action));
        });
    </script>
    <script>
        const jump_btn = document.querySelector('#jump_demo')
        jump_btn.onclick = function () {
            window.open('http://demo.c9f961.grapps.cn/')
            axios.get('https://cloud.goodrain.com/enterprise-server/onlineTrial')
        }
    </script>
</body>