<!DOCTYPE html>
<html lang="zh-cn">
{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}

    {{ if eq .Params.Render  "video"}}
    {{ partial "video.html" . }}
    {{else}}
    {{ partial "doc-head.html" . }}
    <section class="section content-section">
        <div class="container">
            <div class="search-box search-box-global">
                <input type="text" class="search-ipt J-global-search-input" placeholder="请输入您要搜索的关键词">
                <button type="button" class="bt-clear J-global-search-clear"></button>
                <button type="button" id="bt-search-global" class="bt-search J-global-search-btn"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="container content-body">
            {{ partial "menu.html" . }}
            <div class="doc-content">
                <div class="article-title">
                    <span class="t">{{ .Title }}</span>
                    {{ if and (or .IsPage .IsSection) .Site.Params.editURL }}
                    {{ $File := .File }}
                    {{ $Site := .Site }}
                    {{with $File.Path }}
                    <span class="e is-hidden-mobile"><a
                            href="{{ $Site.Params.editURL }}{{ replace $File.Dir "\\" "/" }}{{ $File.LogicalName }}"
                            target="_blank">编辑此页面</a></span>
                    {{ end }}
                    {{ end }}
                </div>
                <div class="markdown-body">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </section>
    {{end}}

    {{ partial "footer.html" . }}
</body>