<!DOCTYPE html>
<html lang="zh-cn">
{{ partial "head.html" . }}
{{ $active := "doc" }}
<body>
    {{ partial "header.html" (dict "context" .   "active" "doc") }}
    {{ partial "doc-head.html" . }}
    <section class="section content-section">
        {{ partial "search.html" . }}
        <div class="container content-body">
            {{ partial "menu.html" . }}
            <div class="doc-content">
                <div class="article-title">
                    <span class="t">{{ .Title }}</span>
                    {{ if and (or .IsPage .IsSection) .Site.Params.editURL }}
                    {{ $File := .File }}
                    {{ $Site := .Site }}
                    {{with $File.Path }}
                    <span class="e is-hidden-mobile"><a
                            href="{{ $Site.Params.editURL }}{{ replace $File.Dir "\\" "/" }}{{ $File.LogicalName }}"
                            target="_blank">编辑此页面</a></span>
                    {{ end }}
                    {{ end }}
                </div>
                <div class="markdown-body {{if ge (len .Page.Pages ) 1}} chapter {{end}}">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </section>

    {{ partial "footer.html" . }}
</body>