<section class="content-section is-hidden-mobile">
    <div class="bar">
        <div class="bar-body container">
            <div class="bar-title-con">
                <img src="/images/docs.png" class="front-img"/>
                <div class="bar-title"><a href="/docs" style="color: #fff"><span>BOE 产品云文档中心</span></a>
                    <div class="bone bone-light"></div>
                </div>
            </div>
            <img src="/images/docs.png" class="back-img"/>
        </div>
    </div>
</section>