<section class="content-section is-hidden-mobile">
    <div class="bar">
        <div class="bar-body container">
            <div class="bar-title-con">
                <img src="/images/docs.png" class="front-img"/>
                <div class="bar-title"><span>Rainbond文档中心(V5.2)</span>
                    <div class="bone bone-light"></div>
                </div>
            </div>
            <p class="desc">V5.2版本目前处于beta状态，仅适合测试试用，若你需要用于生产，请参阅<a href="https://www.rainbond.com/docs">V5.1文档</a></p>
            <img src="/images/docs.png" class="back-img"/>
        </div>
    </div>
</section>