<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-third">
                <div class="footer-logo">
                    <img src="/images/rainbondlog.png">
                </div>
            </div>
            <div class="column is-two-thirds">
                <div class="content">
                    <p>
                        专注于以应用为中心的理念。赋能企业搭建云原生开发云、云原生交付云。
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p style="text-align: center;">© 2021 北京好雨科技有限公司 <a
                        href="http://beian.miit.gov.cn/">京ICP备15028663号-4</a>
                </p>
            </div>
        </div>
    </div>
    </div>
</footer>
<div id="backtotop">
    <a href="#"></a>
</div>
<div id="backtotop">
    <a href="#"></a>
</div>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/easydropdown.js"></script>
<script src="/js/feather-icons"></script>
<script type="text/javascript" src="/js/landing.js"></script>
<script type="text/javascript" src="/js/jquery.panelslider.min.js"></script>
<script src="/js/modernizr.min.js"></script>
<script src="/js/clipboard.min.js"></script>
<script async defer src="/js/github.buttons.js"></script>
<script type="text/javascript" src="/js/video.min.js"></script>
<script type="text/javascript" src="/js/modal-video.js"></script>
<script src="/js/axios.min.js"></script>
<script type="text/javascript" src="/js/visitor.js?version={{.Site.Params.version}}"></script>
<script type="text/javascript" src="/js/algoliasearch.min.js"></script>
<script type="text/javascript" src="/js/jquery.loading.min.js"></script>
<script type="text/javascript" src="/js/clipboard.js"></script>
<script type="text/javascript" src="/js/documentation.js?version={{.Site.Params.version}}"></script>
<script type="text/javascript" src="/js/case.js?version={{.Site.Params.version}}"></script>
<script>
    $(function () {
        var modalVideo = new ModalVideo({
            width: 1000,
            height: 550
        });
        $(".video-show").click(function () {
            var url = $(this).data("src")
            if (url) {
                modalVideo.show({
                    url: url
                });
            }
        });

        $("#switchBranch").change(function () {
            let value = $("#switchBranch").val();
            $("#switchBranch").val("v5.3-v5.4")
            if (value === 'v5.1') {
                window.location.href = 'http://v5.1-doc.rainbond.com/docs/'
            } else if (value === 'v5.2') {
                window.location.href = 'https://v5.2-doc.rainbond.com/docs/'
            } else {
                window.location.href = 'https://www.rainbond.com/docs/'
            }
        })
        $(".wechart").hover(function () {
            $(".wechart-hover")
                .css({
                    top: "-96px",
                    left: "-28px"
                })
                .removeClass("hide");
        }, function () {
            $(".wechart-hover").addClass("hide");
        });
    });
    $(function () {
        var modalVisitor = new ModalVisitor({
            width: 400,
            height: 430
        });
        $(".visitor").click(function () {
            modalVisitor.show({
                title: "申请离线安装包",
                source: "Rainbond官网-申请离线安装包",
                smsg: "提交成功，稍后将与你联系提供离线环境安装包下载方式"
            });
        });
        $(".business-consulting").click(function () {
            modalVisitor.show({
                title: "商业咨询",
                source: "Rainbond官网商业咨询",
                smsg: "提交成功，稍后将与你联系"
            });
        });
        $(".user-case").click(function () {
            modalVisitor.show({
                title: "用户案例详情咨询",
                source: "Rainbond官网案例咨询",
                smsg: "提交成功，稍后将与你联系"
            });
        });
        $(".auth-visitor").click(function () {
            modalVisitor.show({
                title: $(this).data("title"),
                source: $(this).data("source"),
                smsg: "获取下载地址成功",
                callback: () => {
                    modalVisitor.hide()
                    $('.markdown-body .auth .auth-visitor').addClass("hidden")
                    $('.markdown-body .auth .auth-body').removeClass("hidden")
                }
            });
        });
    })

</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        if (document.domain.indexOf('rainbond.com') != -1) {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?19583a0ffdf6a67e3798ed126b51af5f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        }
    })();
</script>