<div id="preloader">
    <div id="status"></div>
</div>
<nav class="navbar is-fresh is-transparent no-shadow top" role="navigation" aria-label="main navigation">
    <div class="container topshow">
        <span>Rainbond社区在线沙龙预告：<a href="/docs/community/upcoming-events/">每周三晚8点相约直播间</a></span>
    </div>
</nav>
<nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="head-logo is-hidden-tablet" title="Rainbond"><img src="/images/rainbondlog.png" /></a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar-menu" class="navbar-menu is-static">
            <a class="is-hidden-mobile" href="/"><img class="logo-simple" alt="Rainbond"
                    src="/images/rainbond-simple-log.png"></a>
            <div class="navbar column is-half navbar-center">
                <a href="/docs/" class='navbar-item is-secondary {{if eq .active "doc" }} is-active {{end}} '>
                    文档
                </a>
                <a href="/video/" class='navbar-item is-secondary {{if eq .active "video" }} is-active {{end}} '>
                    视频
                </a>
                <a href="https://t.goodrain.com" target="_blank" class="navbar-item is-secondary">
                    社区
                </a>
                <a href="https://www.goodrain.com" target="_blank" class="navbar-item is-secondary">
                    企业服务
                </a>
            </div>
            <div class="login-zone">
                <div class="login">
                    <a class="button visitor" rel="noopener noreferrer">离线安装</a>
                </div>
                <div class="login">
                    <a href="/docs/quick-start/quick-install/" target="_blank" class="button"
                        rel="noopener noreferrer">快速安装</a>
                </div>
                <div class="register">
                    <a href="/#download" target="_blank" class="button cloud" rel="noopener noreferrer">云服务</a>
                </div>
            </div>
        </div>

    </div>
</nav>
<nav id="navbar-clone" class="navbar is-fresh is-transparent" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="head-logo is-hidden-tablet" title="Rainbond"><img src="/images/rainbondlog.png" /></a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="cloned-navbar-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="cloned-navbar-menu" class="navbar-menu is-fixed">
            <a class="is-hidden-mobile" href="/"><img class="logo-simple" alt="Rainbond"
                    src="/images/rainbond-simple-log.png"></a>
            <div class="navbar column is-half navbar-center">
                <a href="/docs/" class='navbar-item is-secondary {{if eq .active "doc" }} is-active {{end}} '>
                    文档
                </a>
                <a href="/video/" class='navbar-item is-secondary {{if eq .active "video" }} is-active {{end}} '>
                    视频
                </a>
                <a href="https://t.goodrain.com" target="_blank"
                    class='navbar-item is-secondary {{if eq .active "disc" }} is-active {{end}} '>
                    社区
                </a>
                <a href="https://www.goodrain.com" target="_blank" class="navbar-item is-secondary">
                    企业服务
                </a>
            </div>
            <div class="login-zone">
                <div class="login">
                    <a class="button visitor" rel="noopener noreferrer">离线安装</a>
                </div>
                <div class="login">
                    <a href="/docs/quick-start/quick-install/" target="_blank" class="button"
                        rel="noopener noreferrer">快速安装</a>
                </div>
                <div class="register">
                    <a href="/#download" target="_blank" class="button cloud" rel="noopener noreferrer">云服务</a>
                </div>
            </div>
        </div>

    </div>
</nav>