<div id="preloader">
    <div id="status"></div>
</div>
<nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="head-logo is-hidden-tablet" title="Rainbond"><img src="/images/rainbondlog.png"/></a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar-menu" class="navbar-menu is-static">

            <div class="navbar column is-half navbar-center">
                <a href="/#" class='navbar-item is-secondary {{if eq .active "index"}} is-active {{end}}'>
                    首页
                </a>
                <!-- <a href="/docs/about" class="navbar-item is-secondary">
                        Rainbond是什么
                    </a> -->
                <a href="https://t.goodrain.com" class="navbar-item is-secondary">
                    社区
                </a>
                <a href="/docs/" class='navbar-item is-secondary {{if eq .active "doc" }} is-active {{end}} '>
                    文档
                </a>
                <a href="/video/" class='navbar-item is-secondary {{if eq .active "video" }} is-active {{end}} '>
                    视频
                </a>
                <a href="https://www.goodrain.com" class="navbar-item is-secondary">
                    企业服务
                </a>
            </div>

            <div class="navbar navbar-end is-hidden-mobile">
                <div class="navbar-item navbar-github">
                    <a class="github-button" href="https://github.com/goodrain/rainbond" data-size="large"
                        data-show-count="true" data-icon="octicon-star"
                        aria-label="Star goodrain/rainbond on GitHub">Star</a>
                </div>
            </div>
        </div>

    </div>
</nav>
<nav id="navbar-clone" class="navbar is-fresh is-transparent" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="head-logo is-hidden-tablet" title="Rainbond"><img src="/images/rainbondlog.png"/></a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="cloned-navbar-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="cloned-navbar-menu" class="navbar-menu is-fixed">

            <div class="navbar column is-half navbar-center">
                <a href="/#" class='navbar-item is-secondary {{if eq .active "index" }} is-active {{end}} '>
                    首页
                </a>
                <a href="https://t.goodrain.com" class='navbar-item is-secondary {{if eq .active "disc" }} is-active {{end}} '>
                    社区
                </a>
                <a href="/docs/" class='navbar-item is-secondary {{if eq .active "doc" }} is-active {{end}} '>
                    文档
                </a>
                <a href="/video/" class='navbar-item is-secondary {{if eq .active "video" }} is-active {{end}} '>
                    视频
                </a>
                <a href="https://www.goodrain.com" class="navbar-item is-secondary">
                    企业服务
                </a>
            </div>

            <div class="navbar navbar-end is-hidden-mobile">
                <div class="navbar-item navbar-github">
                    <a class="github-button" href="https://github.com/goodrain/rainbond" data-size="large"
                        data-show-count="true" data-icon="octicon-star" aria-label="Star dapr/dapr on GitHub">Star</a>
                </div>
            </div>
        </div>

    </div>
</nav>