<section class="section section-feature-grey is-medium" id="community">
    <div class="container">

        <div class="title-wrapper has-text-centered">
            <h3 class="title is-6">参与其中</h3>
        </div>

        <div class="content-wrapper">

            <div class="columns has-text-centered">
                <div class="column social-wrap">
                    <a href="https://t.goodrain.com" target="_blank" class="social-icon">
                        <img src="/images/discourse.png" alt="Rainbond社区" />
                        <h4>社区</h5>
                            <p>参考社区，学习或贡献更多Rainbond用例用法</p>
                    </a>
                </div>
                <div class="column social-wrap" id="WeChat">
                    <a href="javascript:;" class="social-icon">
                        <img src="/images/we-chat.png" alt="WeChat 979885495" />
                        <img src="/images/wechart.jpeg" alt="WeChat 979885495" id="wechatimg" />
                        <h4>WeChat</h4>
                        <p>添加微信助手(18800156151)，加入微信支持群</p>
                </div>

                <div class="column social-wrap" id="WeChat">
                    <a href="javascript:;" class="social-icon">
                        <img src="/images/dingding.png" alt="钉钉群号: 31096419" />
                        <img src="/images/dingding-group.jpeg" alt="钉钉群号: 31096419" id="wechatimg" />
                        <h4>钉钉群</h4>
                        <p>扫码加入钉钉 Rainbond 社区群</p>
                </div>

                <div class="column social-wrap">
                    <a href="https://github.com/goodrain/rainbond" target="_blank" class="social-icon">
                        <img src="/images/GitHub.png" alt="Github" />
                        <h4>贡献</h4>
                        <p>欢迎参与贡献，你可以从提出Issues和解决Issues开始</p>
                    </a>
                </div>

            </div>
        </div>
</section>