<section class="section section-feature-grey is-medium is-video" id="video">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h3 class="title is-6">Rainbond培训录制视频</h3>
      </div>
      <div class="content-wrapper">
        <div class="columns is-mobile no-sh is-multiline">
          <div class="column is-full-mobile card  video-list-item video-show">
            <iframe src="//player.bilibili.com/player.html?aid=79059089&cid=135299440&page=1" width="100%"
              scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
            <div>
              <a target="_blank" href="https://www.bilibili.com/video/av79059089?p=1" title="Rainbond开源两周年线上沙龙">观看 >
                Rainbond开源两周年线上沙龙</a>
            </div>
          </div>
          <div class="column is-full-mobile card  video-list-item video-show">
            <iframe src="//player.bilibili.com/player.html?aid=54042295&cid=94538571&page=1" width="100%" scrolling="no"
              border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            <div>
              <a target="_blank" href="https://www.bilibili.com/video/av54042295/"
                title="Jenkins Pipeline 对接Rainbond用法培训">观看 > Jenkins Pipeline 对接Rainbond用法培训</a>
            </div>
          </div>
          <div class="column is-full-mobile card  video-list-item video-show">
            <iframe src="//player.bilibili.com/player.html?aid=54682957&cid=95656299&page=1" width="100%" scrolling="no"
              border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            <div>
              <a target="_blank" href="https://www.bilibili.com/video/av54682957/"
                title="SpringCloud微服务架构应用部署到Rainbond用法培训">观看 > SpringCloud微服务架构应用部署到Rainbond用法培训</a>
            </div>
          </div>
          <div class="column is-full-mobile card  video-list-item video-show">
            <iframe src="//player.bilibili.com/player.html?aid=55425832&cid=96911217&page=1" width="100%" scrolling="no"
              border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            <div>
              <a target="_blank" href="https://www.bilibili.com/video/av55425832/"
                title="Eureka集群部署，SpringCloud微服务架构升级培训">观看 > Eureka集群部署，SpringCloud微服务架构升级培训</a>
            </div>
          </div>
          <div class="column is-full-mobile card  video-list-item video-show">
            <iframe src="//player.bilibili.com/player.html?aid=56157222&cid=98157334&page=1" width="100%" scrolling="no"
              border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            <div class="title_list">
              <div class="redio-show">观看 > <a target="_blank" href="https://www.bilibili.com/video/av56157222/"
                  title="Java生态的微服务无侵入链路追踪">Java生态的微服务无侵入链路追踪</a>
              </div>
              <div>PPT下载 > <a
                  href="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/ppt/Java%E7%94%9F%E6%80%81%E5%BE%AE%E6%9C%8D%E5%8A%A1%E6%97%A0%E4%BE%B5%E5%85%A5%E9%93%BE%E8%B7%AF%E8%BF%BD%E8%B8%AA.pdf">下载</a>
              </div>
            </div>
          </div>
          <div class="column is-full-mobile card  video-list-item video-show">
            <iframe src="//player.bilibili.com/player.html?aid=56969937&cid=99503149&page=1" width="100%" scrolling="no"
              border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            <div class="title_list">
              <div class="redio-show">观看 > <a target="_blank" href="https://www.bilibili.com/video/av56969937/"
                  title="如何将企业应用制作为SaaS化应用并打通开发测试交付链路">如何将企业应用制作为SaaS化应用并打通开发测试交付链路</a>
              </div>
              <div>PPT下载 > <a
                  href="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/ppt/%E7%BA%BF%E4%B8%8A%E5%9F%B9%E8%AE%AD%E7%AC%AC%E4%BA%94%E6%9C%9FRainbond%E5%BA%94%E7%94%A8%E5%B8%82%E5%9C%BA%E8%A7%A3%E8%AF%BB.pdf">下载</a>
              </div>
            </div>
          </div>
          <div class="column is-full-mobile card  video-list-item video-show">
            <iframe src="//player.bilibili.com/player.html?aid=57780580&cid=100850214&page=1" width="100%"
              scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            <div class="title_list">
              <div class="redio-show">观看 > <a target="_blank" href="https://www.bilibili.com/video/av57780580/"
                  title="滚动、蓝绿、灰度如何在Rainbond实现">滚动、蓝绿、灰度如何在Rainbond实现</a>
              </div>
              <div>PPT下载 > <a
                  href="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/ppt/%E7%BA%BF%E4%B8%8A%E5%9F%B9%E8%AE%AD%E7%AC%AC%E5%85%AD%E6%9C%9F%E5%9F%BA%E4%BA%8Erainbond%E5%AE%9E%E7%8E%B0%E4%B8%89%E7%A7%8D%E5%BE%AE%E6%9C%8D%E5%8A%A1%E5%8F%91%E5%B8%83%E6%96%B9%E5%BC%8F%20.pdf">下载</a>
              </div>
            </div>
          </div>
          <div class="column is-full-mobile card  video-list-item video-show">
            <iframe src="//player.bilibili.com/player.html?aid=60657760&cid=105575102&page=1" width="100%"
              scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
            <div class="title_list">
              <div class="redio-show">观看 > <a target="_blank" href="https://www.bilibili.com/video/av60657760/"
                  title="服务熔断和全局限流如何在Rainbond实现">服务熔断和全局限流如何在Rainbond实现</a>
              </div>
              <div>PPT下载 > <a
                  href="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/ppt/%E7%BA%BF%E4%B8%8A%E5%9F%B9%E8%AE%AD%E7%AC%AC%E4%B8%83%E6%9C%9F%E5%9F%BA%E4%BA%8ERainbond%E5%AE%9E%E7%8E%B0%E6%9C%8D%E5%8A%A1%E7%86%94%E6%96%AD%E5%92%8C%E5%85%A8%E5%B1%80%E9%99%90%E6%B5%81.pdf">下载</a>
              </div>
            </div>
          </div>
          <div class="column is-full-mobile card  video-list-item video-show">
            <div class="title_list">
              <iframe src="//player.bilibili.com/player.html?aid=61677518&cid=107266444&page=1" width="100%"
                scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
              <div class="redio-show">观看 > <a target="_blank" href="https://www.bilibili.com/video/av61677518/"
                  title="Rainbond日志管理与插件制作教程">Rainbond日志管理与插件制作教程</a>
              </div>
              <div>PPT下载 > <a
                  href="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/ppt/Rainbond%E6%9C%8D%E5%8A%A1%E6%97%A5%E5%BF%97%E7%AE%A1%E7%90%86.pdf">下载</a>
              </div>
            </div>
          </div>

          <div class="column is-full-mobile card  video-list-item video-show">
            <div class="title_list">
              <iframe src="//player.bilibili.com/player.html?aid=62878710&cid=109233154&page=1" width="100%"
                scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
              <div class="redio-show">观看 > <a target="_blank" href="https://www.bilibili.com/video/av62878710/"
                  title="Rainbond安装与运维原理解读">Rainbond安装与运维原理解读</a>
              </div>
              <div>PPT下载 > <a
                  href="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/ppt/Rainbond%E5%AE%89%E8%A3%85%E4%B8%8E%E8%BF%90%E7%BB%B4%E5%8E%9F%E7%90%86%E8%A7%A3%E8%AF%BB.pdf">下载</a>
              </div>
            </div>
          </div>
          <div class="column is-full-mobile card  video-list-item video-show">
            <div class="title_list">
              <iframe src="//player.bilibili.com/player.html?aid=63784929&cid=110739423&page=1" width="100%"
                scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
              <div class="redio-show">观看 > <a target="_blank" href="https://www.bilibili.com/video/av63784929/"
                  title="Rainbond高可用集群搭建">Rainbond高可用集群搭建</a>
              </div>
            </div>
          </div>
          <div class="column is-full-mobile card  video-list-item video-show">
            <div class="title_list">
              <iframe src="//player.bilibili.com/player.html?aid=78830420&cid=134888098&page=1" width="100%"
                scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
              <div class="redio-show">观看 > <a target="_blank" href="https://www.bilibili.com/video/av78830420/"
                  title="Rainbond应用构建、拼装、安装与升级流程演示">Rainbond应用构建、拼装、安装与升级流程演示</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-feature-grey is-medium is-video">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h3 class="title is-6">Rainbond视频教程</h3>
      </div>
      <div class="content-wrapper">
        <div class="columns is-mobile no-sh is-multiline">
          <div class="column is-full-mobile card  video-list-item video-show"
            data-src="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/video-tutorial/1-overview.mp4">
            <div class="image-show">
              <div class="videolist-icon"></div>
              <img
                src="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/video-tutorial/show/%E8%A7%86%E9%A2%91%E6%95%99%E7%A8%8Bppt.001.jpeg" />
            </div>
            <div class="video-list-item-label">
              <div class="v-title">
                <h3>1-Rainbond快速体验</h3>
              </div>
              <div class="des">
                <p>速览Rainbond版本应用管理</p>
                <a target="_blank" href="/docs/user-manual/">参考文档</a>
              </div>
            </div>
          </div>
          <div class="column is-full-mobile card  video-list-item video-show"
            data-src="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/video-tutorial/2-install.mp4">
            <div class="image-show">
              <div class="videolist-icon"></div>
              <img
                src="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/video-tutorial/show/%E8%A7%86%E9%A2%91%E6%95%99%E7%A8%8Bppt.002.jpeg" />
            </div>
            <div class="video-list-item-label">
              <div class="v-title">
                <h3>2-Rainbond集群安装</h3>
              </div>
              <div class="des">
                <p>速览Rainbond版本集群安装</p>
                <a target="_blank" href="/docs/quick-start/rainbond_install/">参考文档</a>
              </div>
            </div>
          </div>
          <div class="column is-full-mobile card  video-list-item video-show"
            data-src="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/video-tutorial/3-gitlab.mp4">
            <div class="image-show">
              <div class="videolist-icon"></div>
              <img
                src="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/video-tutorial/show/%E8%A7%86%E9%A2%91%E6%95%99%E7%A8%8Bppt.003.jpeg" />
            </div>
            <div class="video-list-item-label">
              <div class="v-title">
                <h3>3-安装Gitlab代码仓库应用</h3>
              </div>
              <div class="des">
                <p title="学习基于应用市场的应用安装，HTTP、TCP网关策略添加">
                  学习基于应用市场的应用安装，HTTP、TCP网关策略添加
                </p>
                <a target="_blank" href="/docs/user-manual/gateway/traffic-control/">参考文档</a>
              </div>
            </div>
          </div>
          <div class="column is-full-mobile card  video-list-item video-show"
            data-src="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/video-tutorial/4-java.mp4">
            <div class="image-show">
              <div class="videolist-icon"></div>
              <img
                src="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/video-tutorial/show/%E8%A7%86%E9%A2%91%E6%95%99%E7%A8%8Bppt.004.jpeg" />
            </div>
            <div class="video-list-item-label">
              <div class="v-title">
                <h3>4-持续对Java-Maven源码服务进行CI/CD</h3>
              </div>
              <div class="des">
                <p title="学习持续CI/CD JavaMaven代码开发的服务">
                  学习持续CI/CD JavaMaven代码开发的服务
                </p>
                <a target="_blank"
                  href="/docs/user-manual/app-creation/language-support/java_more/java-maven/">参考文档</a>
              </div>
            </div>
          </div>
          <div class="column is-full-mobile card  video-list-item video-show"
            data-src="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/video-tutorial/5-thirdpart.mp4">
            <div class="image-show">
              <div class="videolist-icon"></div>
              <img
                src="https://grstatic.oss-cn-shanghai.aliyuncs.com/mp4/video-tutorial/show/%E8%A7%86%E9%A2%91%E6%95%99%E7%A8%8Bppt.005.jpeg" />
            </div>
            <div class="video-list-item-label">
              <div class="v-title">
                <h3>5-使用第三方服务管理集群外数据库</h3>
              </div>
              <div class="des">
                <p title="学习使用第三方服务，管理Rainbond部署的服务连接集群外的数据库">
                  学习使用第三方服务，管理Rainbond部署的服务连接集群外的数据库
                </p>
                <a target="_blank"
                  href="/docs/advanced-scenarios/practices/thirdparty-service-practice2/">参考文档</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-feature-grey is-medium is-video">
    <div class="container">
      <div class="nav-body">
        <p>该视频教程适合于Rainbond V5.0/V5.1版本系列, 持续更新中</p>
        <p>你对该系列视频教程有什么意见或建议，请前往Rainbond社区反馈 <a target="_blank" href="https://t.goodrain.com/c/help/55-category">去反馈</a>
        </p>
        <p>学习使用开源Rainbond产品有困难，请获取: <a href="https://www.goodrain.com">好雨科技商业支持服务</a>
        </p>
      </div>
    </div>
  </section>