<!--<section class="footer" style="background: #505664;">-->
    <!--{% include back-to-top.html %} {% include help-widget.html %}-->
    <!--<div class="container">-->
        <!--<div class="footer__flex-wrap">-->
            <!--<ul class="footer-nav footer-nav&#45;&#45;product">-->
                <!--<li class="header" style="color:#fff;">产品<span class="blue-arrow blue-arrow&#45;&#45;down"></span></li>-->
                <!--<ul class="footer-sub-nav">-->
                    <!--<li><a href="https://www.rainbond.com/" style="color:#fff;">Rainbond 开源</a></li>-->
                    <!--<li><a href="https://www.goodrain.com/ACP.jsp" style="color:#fff;">Rainbond 企业</a></li>-->
                    <!--<li><a href="/docs/stable/architecture/edition.html" style="color:#fff;">功能列表</a></li>-->
                <!--</ul>-->
            <!--</ul>-->
            <!--<ul class="footer-nav">-->
                <!--<li class="header" style="color:#fff;">资源<span class="blue-arrow blue-arrow&#45;&#45;down"></span></li>-->
                <!--<ul class="footer-sub-nav">-->
                    <!--<li><a href="https://blog.goodrain.com/" style="color:#fff;">博客</a></li>-->
                    <!--<li><a href="https://t.goodrain.com/" style="color:#fff;">社区</a></li>-->
                    <!--<li><a href="https://github.com/goodrain/rainbond" style="color:#fff;">Github</a></li>-->
                <!--</ul>-->
            <!--</ul>-->
            <!--<ul class="footer-nav">-->
                <!--<li class="header" style="color:#fff;">公司<span class="blue-arrow blue-arrow&#45;&#45;down"></span></li>-->
                <!--<ul class="footer-sub-nav">-->
                    <!--<li><a href="https://www.goodrain.com/aboutUs.jsp#1F" style="color:#fff;">关于好雨</a></li>-->
                <!--</ul>-->
            <!--</ul>-->
            <!--<ul class="footer-nav footer-nav&#45;&#45;documentation">-->
                <!--<li class="header" style="color:#fff;">文档<span class="blue-arrow blue-arrow&#45;&#45;down"></span></li>-->
                <!--<ul class="footer-sub-nav">-->
                    <!--<li><a href="/docs/stable/architecture/design-concept.html" style="color:#fff;">设计理念</a></li>-->
                    <!--<li><a href="/docs/stable/getting-started/before-installation.html" style="color:#fff;">快速安装</a></li>-->
                    <!--<li><a href="/docs/stable/user-manual/create-an-app.html" style="color:#fff;">平台使用</a></li>-->
                    <!--<li><a href="/docs/stable/best-practice/index.html" style="color:#fff;">最佳实践</a></li>-->
                    <!--<li><a href="/docs/stable/operation-manual/deployment-architecture.html" style="color:#fff;">运维手册</a></li>-->
                <!--</ul>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="copyright" style="color:#fff;"><span class="year">&copy; 2018 </span>北京好雨科技有限公司 </div>-->
    <!--</div>-->
<footer id="footer" class="footer">
    {% include back-to-top.html %} {% include help-widget.html %}
    <nav class="footer-nav">
        <div class="footer-title">Rainbond，以应用为中心的开源PaaS</div>
        <div class="social">
            <a href="https://github.com/goodrain/rainbond" class="github" target="_blank"></a>
            <a href="javascript:void(0);" class="wechart"></a>
            <img src="images/wechart.png" alt="" class="wechart-hover hide">
            <a href="ttps://weibo.com/u/5743730973" class="weibo" target="_blank"></a>
            <a href="https://t.goodrain.com/" class="luntan" target="_blank"></a>
        </div>
    </nav>
    <nav class="footer-nav">
        <div class="socialTo">
            <a href="https://www.rainbond.com/">开源</a>
            <a href="https://www.goodrain.com/industrycloud" target="_blank">企业</a>
            <a href="https://t.goodrain.com/" target="_blank">社区</a>
            <a href="/docs/stable/">文档</a>
        </div>
        <div class="footer-copy">
            Copyright © 2018 Goodrain Co., Ltd. All Rights Reserved.
        </div>
    </nav>
</footer>
    <script>
        (function (m, ei, q, i, a, j, s) {
            m[a] = m[a] || function () {
                (m[a].a = m[a].a || []).push(arguments)
            };
            j = ei.createElement(q),
                s = ei.getElementsByTagName(q)[0];
            j.async = true;
            j.charset = 'UTF-8';
            j.src = i;
            s.parentNode.insertBefore(j, s)
        })(window, document, 'script', '//eco-api.meiqia.com/dist/meiqia.js', '_MEIQIA');
        _MEIQIA('entId', 5732);
    </script>
<!--</section>-->
