<section class="footer">
	{% include back-to-top.html %}
	{% include help-widget.html %}
	<div class="container">
		<div class="footer__flex-wrap">
			<ul class="footer-nav footer-nav--product">
				<li class="header">产品<span class="blue-arrow blue-arrow--down"></span></li>
				<ul class="footer-sub-nav">
					<li><a href="https://www.rainbond.com/">Rainbond 开源</a></li>
					<li><a href="https://www.goodrain.com/ACP.jsp">Rainbond 企业</a></li>
					<li><a href="https://www.rainbond.com/docs/stable/rainbond-in-comparison.html">特性比较</a></li>
				</ul>
			</ul>
			<ul class="footer-nav">
				<li class="header">资源<span class="blue-arrow blue-arrow--down"></span></li>
				<ul class="footer-sub-nav">
					<li><a href="https://blog.goodrain.com/">博客</a></li>
					<li><a href="https://t.goodrain.com/">社区</a></li>
					<li><a href="https://github.com/goodrain/rainbond">Github</a></li>
				</ul>
			</ul>
			<ul class="footer-nav">
				<li class="header">公司<span class="blue-arrow blue-arrow--down"></span></li>
				<ul class="footer-sub-nav">
					<li><a href="https://www.goodrain.com/aboutUs.jsp#1F">关于好雨</a></li>
				</ul>
			</ul>
			<ul class="footer-nav footer-nav--documentation">
				<li class="header">文档<span class="blue-arrow blue-arrow--down"></span></li>
				<ul class="footer-sub-nav">
					<li><a href="https://www.rainbond.com/docs/stable/getting-started/design-concept.html">设计理念</a></li>
					<li><a href="https://www.rainbond.com/docs/stable/getting-started/pre-install.html">快速安装</a></li>
					<li><a href="https://www.rainbond.com/docs/stable/user-app-docs/how-to-use-app.html">平台使用</a></li>
					<li><a href="https://www.rainbond.com/docs/stable/best-practice/connection-maven-repository.html">最佳实践</a></li>
					<li><a href="https://www.rainbond.com/docs/stable/platform-maintenance/overview/overview.html">平台维护</a></li>
				</ul>
			</ul>
		</div>
		<div class="copyright"><span class="year">&copy; 2017 </span>北京好雨科技有限公司 </div>
	</div>

<!-- 	<script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=15885728699478783277' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script> -->
</section>

