<section id="footer" class="footer">
        {% include back-to-top.html %} {% include help-widget.html %}
        <nav class="footer-nav">
            <div class="footer-title">Rainbond，以应用为中心的开源PaaS</div>
            <div class="social">
                <a href="https://github.com/goodrain/rainbond" class="github" target="_blank"></a>
                <a href="javascript:void(0);" class="wechart"></a>
                <img src="../images/wechart.png" alt="" class="wechart-hover hide">
                <!-- <a href="ttps://weibo.com/u/5743730973" class="weibo" target="_blank"></a> -->
                <a href="https://t.goodrain.com/" class="luntan" target="_blank"></a>
            </div>
        </nav>
        <nav class="footer-nav">
            <div class="socialTo">
                <a href="https://www.rainbond.com/">开源</a>
                <a href="https://www.goodrain.com/industrycloud" target="_blank">企业</a>
                <a href="https://t.goodrain.com/" target="_blank">社区</a>
                <a href="/docs/stable/">文档</a>
            </div>
            <div class="footer-copy">
                Copyright © 2018 Goodrain Co., Ltd. All Rights Reserved.
            </div>
        </nav>
</section>
    <script>
        (function (m, ei, q, i, a, j, s) {
            m[a] = m[a] || function () {
                (m[a].a = m[a].a || []).push(arguments)
            };
            j = ei.createElement(q),
                s = ei.getElementsByTagName(q)[0];
            j.async = true;
            j.charset = 'UTF-8';
            j.src = i;
            s.parentNode.insertBefore(j, s)
        })(window, document, 'script', '//eco-api.meiqia.com/dist/meiqia.js', '_MEIQIA');
        _MEIQIA('entId', 5732);
    </script>
<script>
    $(function(){
        $('.wechart').hover(function () {
            $('.wechart-hover').css({
                left: "85px",
                top: "-80px"
            }).removeClass('hide')
        },function () {
            $('.wechart-hover').addClass('hide');
        })
    })
</script>
