<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="好雨云帮（Rainbond）是国内首个开源的无服务器PasS平台，历经多年生产运营打磨和验证，形成目前理念最新、生态最完整的无服务器PasS平台。好雨选择开源、拥抱社区，期望吸收最好的想法和实践，进一步完善和提升云帮，让更多企业和个人用户享受“以应用为中心”的技术体验。">
<meta name="keywords" content="微服务架构, 微服务治理, service mesh, DevOps, 容器管理平台, 无服务器PaaS, 开源软件, 快速交付, 以应用为中心, 软件定义一切, 自动化运维, 弹性伸缩, 好雨, 好雨科技, 好雨云, 阿里云市场, 最佳实践">
<title>{{ page.title }} | Rainbond 文档中心</title>
<link rel="canonical" href="{{ page.canonical | absolute_url }}">
<link rel="shortcut icon" href="{{ 'images/favicon.png' | relative_url }}" type="image/png">

<link rel="stylesheet" type="text/css" href="{{ 'css/font-awesome.min.css' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'css/lavish-bootstrap.css' | relative_url }}">
{% if page.comparison == true %}<link rel="stylesheet" type="text/css" href="{{ 'css/select2.min.css' | relative_url }}">{% endif %}
<link rel="stylesheet" type="text/css" href="{{ 'css/customstyles.css' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'css/theme-blue.css' | relative_url }}">
{% if page.asciicast == true %}<link rel="stylesheet" type="text/css" href="{{ 'css/asciinema-player.css' | relative_url }}">{% endif %}

<script>
var pageConfig = {
    tocNotNested: {% if page.toc_not_nested %}true{% else %}false{% endif %}
};
</script>

<script src="{{ 'js/jquery.min.js' | relative_url }}"></script>
<script src="{{ 'js/jquery.cookie.min.js' | relative_url }}"></script>
<script src="{{ 'js/jquery.navgoco.min.js' | relative_url }}"></script>
<script src="{{ 'js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ 'js/toc.js' | relative_url }}"></script>
<script src="{{ 'js/clipboard.min.js' | relative_url }}"></script>
<script src="{{ 'js/customscripts.js' | relative_url }}"></script>
<script src="{{ 'js/anchor.js' | relative_url }}"></script>
<script src="//js.hsforms.net/forms/v2.js"></script>
{% if page.comparison == true %}
  <script src="{{ 'js/comparison-chart.js' | relative_url }}"></script>
  <script src="{{ 'js/select2.min.js' | relative_url }}"></script>
{% endif %}
{% if page.optimizely == true %}<script src="https://cdn.optimizely.com/js/7825500667.js"></script>{% endif %}
{% if page.asciicast == true %}<script src="{{ 'js/asciinema-player.js' | relative_url }}"></script>{% endif %}
