<!-- Mobile Side Navigation -->
<nav class="mobile_expanded">
    <div class="close-wrap">
        <a class="logo" href="https://www.rainbond.com/" title="Rainbond 生产级无服务器PasS">
            <img src="{{ 'images/rainbond-logo.png' | relative_url }}" width="100%" alt="Rainbond Labs" />
        </a>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <a target="_blank" href="https://www.goodrain.com/contactus" class='blog-nav' data-proofer-ignore>企业版</a>
    <a href="https://t.goodrain.com/">社区</a>
    <a href="https://www.rainbond.com/docs/stable/">文档</a>
    <a href="https://blog.goodrain.com/" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0">博客</a>
</nav>

<!-- Desktop / Tablet Navigation -->
<header class="navbar-fixed-top">
    <div class="container">
        <div class="row">
            <a class="logo" href="https://www.rainbond.com/" title="Rainbond 国内首款基于Kubernetes开源的应用管理平台">
                <img src="{{ 'images/rainbond-logo.png' | relative_url }}" width="100%" alt="Rainbond" />
            </a>

            <nav class="desktop" role="navigation">
                <a target="_blank" href="https://www.goodrain.com/contactus" class='blog-nav' data-proofer-ignore>企业版</a>
                <a target="_blank" href="https://t.goodrain.com/" class='blog-nav' data-proofer-ignore>社区</a>
                <a href="https://www.rainbond.com/docs/stable/" class="current-menu-item" data-proofer-ignore>文档</a>
                <a href="https://blog.goodrain.com/" class='blog-nav' data-proofer-ignore>博客</a>
                <a href="{{ "/stable/getting-started/before-installation.html" | relative_url }}" class="button--header menu-item" data-proofer-ignore>开始安装</a>
            </nav>
            <nav class="mobile" role="navigation">
                <a href="#" title="Expand Menu" class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <a target="_blank" href="{{ "/stable/getting-started/before-installation.html" | relative_url }}" class="button--header menu-item" data-proofer-ignore>开始安装</a>
            </nav>

        </div>
    </div>
</header>