<!-- Mobile Side Navigation -->
<!--<nav class="mobile_expanded">-->
	<!--<div class="close-wrap">-->
		<!--<a class="logo" href="https://www.rainbond.com/" title="Rainbond 生产级无服务器PasS">-->
			<!--<img src="{{ 'images/rainbond-logo.png' | relative_url }}" width="100%" alt="Rainbond Labs" />-->
		<!--</a>-->
		<!--<div class="hamburger">-->
			<!--<span></span>-->
			<!--<span></span>-->
			<!--<span></span>-->
			<!--<span></span>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="mobile-menu-dropdown">-->
		<!--<span class="blue-arrow blue-arrow&#45;&#45;down"></span>-->
		<!--<div class="mobile-sub-nav">-->
			<!--<a target="_blank" href="https://www.goodrain.com/industrycloud" class='blog-nav' data-proofer-ignore>企业版</a>-->
			<!--<a href="https://t.goodrain.com/">社区</a>-->
			<!--<a href="/docs/stable/">文档</a>-->
			<!--<a href="https://blog.goodrain.com/" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0">博客</a>-->
		<!--</div>-->
	<!--</div>-->
<!--</nav>-->

<!--&lt;!&ndash; Desktop / Tablet Navigation &ndash;&gt;-->
<!--<header class="navbar-fixed-top">-->
	<!--<div class="navbar-fixed-top&#45;&#45;inner">-->
		<!--<a class="logo" href="https://www.rainbond.com/" title="Rainbond 生产级无服务器PasS">-->
			<!--<img src="{{ 'images/rainbond-logo.png' | relative_url }}" width="100%" alt="Rainbond Labs" />-->
		<!--</a>-->

		<!--<nav class="desktop" role="navigation">-->
			<!--<a target="_blank" href="https://www.goodrain.com/industrycloud" class='blog-nav' data-proofer-ignore>企业版</a>-->
			<!--<a target="_blank" href="https://t.goodrain.com/" class='blog-nav' data-proofer-ignore>社区</a>-->
			<!--<a href="/docs/stable/" class="current-menu-item" data-proofer-ignore>文档</a>-->
			<!--<a href="https://blog.goodrain.com/" class='blog-nav' data-proofer-ignore>博客</a>-->
			<!--<a href="/docs/stable/getting-started/before-installation.html" class="button&#45;&#45;header menu-item" data-proofer-ignore>开始安装</a>-->
		<!--</nav>-->
		<!--<nav class="mobile" role="navigation">-->
			<!--<a href="#" title="Expand Menu" class="hamburger">-->
				<!--<span></span>-->
				<!--<span></span>-->
				<!--<span></span>-->
				<!--<span></span>-->
			<!--</a>-->
			<!--<a target="_blank" href="/docs/stable/getting-started/before-installation.html" class="button&#45;&#45;header menu-item" data-proofer-ignore>开始安装</a>-->
		<!--</nav>-->
	<!--</div>-->
<!--</header>-->

<div class="navbar-fixed-top">
	<nav class="navbar navbar-bg" id="nav">
		<div class="navContainer">
			<div class="nav-logo" style="width:209px">
				<a href="https://www.rainbond.com/" class="logo" title="RainBond">
					<img src="{{ 'images/rainbond-logo.png' | relative_url }}" alt="" style="width: 100%">
				</a>
			</div>
			<div id="nav-list">
				<ul class="nav-flex fontsize_12">
					<li><a href="https://www.rainbond.com/">开源</a></li>
					<li><a href="https://www.goodrain.com/industrycloud" target="_blank">企业</a></li>
					<li><a href="https://t.goodrain.com" target="_blank">社区</a></li>
					<li><a href="/docs/stable/">文档</a></li>
					<li><a class="active" href="/docs/stable/getting-started/before-installation.html" target="_blank">快速开始</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
