<!-- Mobile Side Navigation -->
<!--<nav class="mobile_expanded">-->
	<!--<div class="close-wrap">-->
		<!--<a class="logo" href="https://www.rainbond.com/" title="Rainbond 生产级无服务器PasS">-->
			<!--<img src="{{ 'images/rainbond-logo.png' | relative_url }}" width="100%" alt="Rainbond Labs" />-->
		<!--</a>-->
		<!--<div class="hamburger">-->
			<!--<span></span>-->
			<!--<span></span>-->
			<!--<span></span>-->
			<!--<span></span>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="mobile-menu-dropdown">-->
		<!--<span class="blue-arrow blue-arrow&#45;&#45;down"></span>-->
		<!--<div class="mobile-sub-nav">-->
			<!--<a target="_blank" href="https://www.goodrain.com/industrycloud" class='blog-nav' data-proofer-ignore>企业版</a>-->
			<!--<a href="https://t.goodrain.com/">社区</a>-->
			<!--<a href="/docs/stable/">文档</a>-->
			<!--<a href="https://blog.goodrain.com/" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-0">博客</a>-->
		<!--</div>-->
	<!--</div>-->
<!--</nav>-->

<!--&lt;!&ndash; Desktop / Tablet Navigation &ndash;&gt;-->
<!--<header class="navbar-fixed-top">-->
	<!--<div class="navbar-fixed-top&#45;&#45;inner">-->
		<!--<a class="logo" href="https://www.rainbond.com/" title="Rainbond 生产级无服务器PasS">-->
			<!--<img src="{{ 'images/rainbond-logo.png' | relative_url }}" width="100%" alt="Rainbond Labs" />-->
		<!--</a>-->

		<!--<nav class="desktop" role="navigation">-->
			<!--<a target="_blank" href="https://www.goodrain.com/industrycloud" class='blog-nav' data-proofer-ignore>企业版</a>-->
			<!--<a target="_blank" href="https://t.goodrain.com/" class='blog-nav' data-proofer-ignore>社区</a>-->
			<!--<a href="/docs/stable/" class="current-menu-item" data-proofer-ignore>文档</a>-->
			<!--<a href="https://blog.goodrain.com/" class='blog-nav' data-proofer-ignore>博客</a>-->
			<!--<a href="/docs/stable/getting-started/installation-guide.html" class="button&#45;&#45;header menu-item" data-proofer-ignore>开始安装</a>-->
		<!--</nav>-->
		<!--<nav class="mobile" role="navigation">-->
			<!--<a href="#" title="Expand Menu" class="hamburger">-->
				<!--<span></span>-->
				<!--<span></span>-->
				<!--<span></span>-->
				<!--<span></span>-->
			<!--</a>-->
			<!--<a target="_blank" href="/docs/stable/getting-started/installation-guide.html" class="button&#45;&#45;header menu-item" data-proofer-ignore>开始安装</a>-->
		<!--</nav>-->
	<!--</div>-->
<!--</header>-->
<!-- mobile -->
<style>
.navbar-toggle{
	background-color: #2e95f9;
}
#navbar_header_wrap{
	background-color: #4a4a4a;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: #2e95f9;
}
</style>
<div class="header">
	<nav class="navbar navbar-default bg-default navbar-fixed-top">
		<div id="navbar_header_wrap" style="width:100%; max-width:1180px; margin:0 auto; padding:0 10px;">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_list">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a href="javascript:void(0);" style="display: inline-block; padding-top: 15px;padding-left: 1%">
					<img src="{{ 'images/logo_bg.png' | relative_url }}"  class="rainlogo" id="rainlogo" width="125px" alt="Rainbond_好雨云帮" title="好雨_logo">
				</a>

			</div>
			<div class="collapse navbar-collapse" id="navbar_list">
				<ul id="ulnav" class="nav navbar-nav navbar-left">
					<li class="dropdown">
						<a href="https://www.goodrain.com/industrycloud" target="_blank">企业服务</a>
					</li>
					<li class="dropdown">
						<a href="https://www.rainbond.com" target="_blank">开源</a>
					</li>
					<li>
						<a href="/docs/stable/">文档</a>
					</li>
					<li>
						<a href="https://www.goodrain.com/blog/" target="_blank">博客</a>
					</li>
					<li>
						<a href="https://t.goodrain.com/" target="_blank">社区</a>
					</li>
				</ul>
			</div>

		</div>
	</nav>
</div>
<div class="navbar-fixed-top">
        <nav class="navbar navbar-bg container-fluid" id="nav">
            <div class="row">
                <div class="nav-logo">
                    <a href="https://www.rainbond.com/" class="" title="RainBond">
                        <img src="{{ 'images/logo_bg.png' | relative_url }}" alt="" style="width: 100%;height: 100%;vertical-align: middle">
                    </a>
                </div>
                <nav id="nav-list">
                    <ul class="nav-flex fontsize_12">
                        <li class="defaultSty"><a class="active" href="/docs/stable/getting-started/installation-guide.html">快速开始</a></li>
                        <li><a href="/docs/stable/">文档</a></li>
                        <li><a href="https://t.goodrain.com" target="_blank">社区</a></li>
                        <li><a href="https://www.goodrain.com/industrycloud" target="_blank">企业</a></li>
                        <li><a href="https://www.rainbond.com/">开源</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
<script>
	if($(window).width() < 768){
		$('#nav').addClass('hide');
	}
</script>