.global {
    text-align: center;
    line-height: 32px;
    padding-bottom: 40px;
  }
  
  .title {
    /* padding-top: 70px; */
    width: 100%;
    text-align: center;
    font-size: 32px;
    color: var(--ifm-color-primary-black);
    padding-bottom: 48px;
  }