ul,
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*header*/

/*
header{width: 100%; height: 80px; background: #fff; position: fixed;  z-index: 99; top: 0; left: 0;}
*/

body {
  font-family: "San Francisco", "Lucida Grande", "Lucida Sans Unicode",
    "helvetica neue", Verdana, tahoma, Aril, PingFangSC-Light,
    "hiragino sans gb", STXihei, "华文细黑", "WenQuanYi Micro Hei",
    "Microsoft YaHei UI", "Microsoft YaHei", "微软雅黑", Heiti, "黑体",
    sans-serif;
  color: #333;
}

/*bg*/

.graybg {
  background: #fafafa;
}

.graybg100 {
  background: #fafafa;
  padding-top: 70px;
}

/*
.logo{width: 258px; height: 45px; margin:17px 0 0 0;}
.logo img{width: 100%; height: auto;}
.navbox{text-align: right;}
.navbox a{color: #333333; font-size: 14px; line-height: 80px; display: inline-block; padding:0 20px;}
.menuicon{width: 30px; height: 24px; background: url('../images/menuicon.png') no-repeat; background-size: 30px 24px; display: block;}
.menubox{position: absolute; top: 25px; right: 15px;}
*/

.margintop80 {
  margin-top: 80px;
}

.mainbox {
  padding: 80px 0;
}

.location {
  position: relative;
  height: 80px;
}

.bannerbg {
  width: 100%;
  height: 760px;
  background: url("../images/bannerone.png") no-repeat;
  background-size: 849px 553px;
  background-position: 75% 50%;
}

.tablayout {
  width: 100%;
  padding: 80px 0;
}

.tabblockleft {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}

.tabblockright {
  width: 50%;
  max-width: 849px;
  display: table-cell;
  vertical-align: middle;
}

.tabblockright img {
  width: 100%;
  height: auto;
  display: block;
}

.imgboxbanner {
  max-width: 990px;
  width: 100%;
}

.imgboxbanner img {
  width: 100%;
  display: block;
  height: auto;
}

.imgboxtwo {
  width: 74px;
  height: 74px;
  margin: 50px auto 20px;
}

.icon01 {
  background: url(../images/icon01.png) no-repeat;
}

.icon01:hover {
  background: url(../images/icon02.png) no-repeat;
}

.icon02 {
  background: url(../images/icon03.png) no-repeat;
}

.icon02:hover {
  background: url(../images/icon04.png) no-repeat;
}

.icon03 {
  background: url(../images/icon05.png) no-repeat;
}

.icon03:hover {
  background: url(../images/icon06.png) no-repeat;
}

.icon04 {
  background: url(../images/icon07.png) no-repeat;
}

.icon04:hover {
  background: url(../images/icon08.png) no-repeat;
}

.icon05 {
  background: url(../images/icon09.png) no-repeat;
}

.icon05:hover {
  background: url(../images/icon010.png) no-repeat;
}

.icon06 {
  background: url(../images/icon011.png) no-repeat;
}

.icon06:hover {
  background: url(../images/icon012.png) no-repeat;
}

.linktwo {
  width: 158px;
  height: 44px;
  color: #333;
  border: 1px #333 solid;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  border-radius: 2px;
  font-size: 18px;
}

.imgboxthree {
  width: 100%;
  margin: 30px auto 0;
  max-width: 270px;
}

.imgboxthree img {
  width: 80%;
  height: auto;
  display: block;
}

.imgbox {
  width: 100%;
  max-width: 1128px;
  margin: 20px auto;
}

.imgbox img {
  width: 100%;
  height: auto;
  display: block;
}

.titone {
  font-size: 48px;
  line-height: 1;
  color: #303030;
  padding: 0px 0 40px;
}

.textone {
  font-size: 20px;
  color: #303030;
  line-height: 42px;
  margin: 0;
}

.linkone {
  width: 130px;
  height: 40px;
  border: 1px #28cb75 solid;
  color: #28cb75;
  line-height: 40px;
  font-size: 18px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  margin: 40px 30px 0 0;
}

.tittwo {
  font-size: 24px;
  color: #333;
  margin: 0 auto 20px;
  border-bottom: 1px #28cb75 solid;
  display: inline-block;
  clear: both;
  padding: 0 20px 10px;
}

.texttwo {
  font-size: 18px;
  color: #333333;
  line-height: 30px;
  width: 90%;
  margin: 0 auto 50px;
}

.titthree {
  color: #333;
  font-size: 28px;
  padding-bottom: 20px;
}

.titfour {
  font-size: 24px;
  padding: 20px 0 10px;
  color: #333;
}

.textthree {
  font-size: 18px;
  line-height: 24px;
  color: #333;
}

.parters {
  width: 100%;
}

.parterbox {
  width: 25%;
  float: left;
}

.parterbox img {
  width: 196px;
  height: 70px;
  background: #fff;
  border: 1px #eaecf1 solid;
  margin: 20px auto;
  display: block;
}

.linkstart {
  max-width: 620px;
  height: 64px;
  background: #e7eff6;
  border: 1px #c5d2dd solid;
  line-height: 64px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  color: #333;
  border-radius: 4px;
  margin: 50px 0 0;
  width: 90%;
}

.phonebox {
  background: url("../images/phoneicon.png") no-repeat 0 22px;
  background-size: 20px 20px;
  padding-left: 30px;
  height: 64px;
}

.iconwz {
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;
  margin-top: -2px;
  margin-right: 5px;
}

/*
footer{background: #505664; color: #fff;}
.footul{margin:50px 0;}
.footul li{width: 20%; float: left;}
.footul li p{font-size: 16px; line-height: 40px;}
.footul li a{font-size: 14px; line-height: 30px; color: #fff; display: block;}
.footerline{border-top: 1px #5f6574 solid; height: 64px; line-height: 64px;}
*/

.margintop30 {
  margin-top: 30px;
}

.whitebg {
  padding: 60px;
  background: #fff;
  border-top: 3px #28cb75 solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 25px 0;
}

section.footer {
  background: #505664;
  padding-bottom: 0;
  margin-bottom: 0;
}

section.footer .footer-nav li a {
  color: #fff;
}

section.footer .footer-nav li.header {
  color: #fff;
}

section.footer .copyright {
  color: #fff;
}

.textpo {
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .titone {
    font-size: 36px;
    padding: 0;
  }
  .textone {
    font-size: 16px;
  }
  p.textsix {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .navbox {
    width: 100%;
    position: absolute;
    top: 80px;
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    text-align: left;
  }
  .navbox a {
    display: block;
    padding-left: 15px;
    line-height: 40px;
  }
  .parterbox {
    width: 50%;
  }
  .footul li {
    width: 100%;
  }
  .footerline {
    height: auto;
  }
  .navbox {
    display: none;
    border-bottom: 1px #e9e9e9 solid;
    border-top: 1px #e9e9e9 solid;
  }
  p.textsix {
    margin: 0;
  }
  .tabblockleft {
    width: 100%;
    top: 80px;
  }
  .textone {
    font-size: 16px;
  }
  .titone {
    font-size: 24px;
    padding: 0;
    line-height: 40px;
  }
  .linkone {
    margin: 30px 10px 0;
  }
  .tabblockright {
    display: none;
  }
  .graybg100 {
    height: auto;
    padding-top: 0;
  }
  .tablayout {
    height: auto;
  }
  .tabblockleft {
    position: static;
    padding-bottom: 60px;
  }
  section.footer .footer-nav {
    border-top: 1px #000 solid;
    padding: 20px;
  }
  .textpo {
    text-align: center;
  }
  .whitebg {
    padding: 20px;
  }
}

@media screen and (max-width: 520px) {
  .parterbox {
    width: 100%;
  }
}