@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .width {
    width: 100% !important;
  }
  /* 处理轮播图 */
}
@media screen and (max-width: 350px) {
  .rainbond_desc {
    margin-bottom: 60px !important;
  }
}
@media screen and (max-width: 660px) {
  .docs {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 800px) {
  .docs {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 450px) {
  .docs {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .btns {
    display: block !important;
    margin-bottom: 0.4rem;
  }
  #section_first div:nth-child(2) {
    margin-top: 0.4rem;
  }
  #section_second .img_container {
    width: 25% !important;
  }
  /* 视频 */
  .carousel_container {
    flex-wrap: wrap;
  }
  .carousel_container > a {
    width: 100% !important;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1000px) {
  #section_first {
    grid-template-columns: 1fr !important;
  }
  /* 左侧简介 */
  .rainbond_desc {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 0px !important;
    margin-bottom: 24px;
  }
  .title {
    left: 16px !important;
  }
  .img_container {
    width: 20% !important;
  }
}
@media screen and (max-width: 1020px) {
  .nav_lists > li {
    padding: 12px !important;
  }
}
@media screen and (max-width: 850px) {
  .nav_container .nav_lists > li {
    padding: 6px !important;
  }
}
// 切换导航栏
@media screen and (max-width: 760px) {
  .nav_container {
    display: none !important;
  }
  // 展示Nav导航栏
  .isMobieNav {
    display: block !important;
    margin-right: 12px;
  }
  // 移动端导航栏
  .isMobieNavBar {
    background-color: #ffffff !important;
    position: fixed;
    width: 100%;
    top: 84px;
    left: 0px;
    z-index: 9999;
  }
  .mobile_nav_lists {
    list-style: none;
    padding: 24px;
  }
  .mobile_nav_lists > li {
    margin-bottom: 12px;
    font-size: 16px;
  }
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.width {
  width: 1200px;
  margin: 0 auto;
}
/* 首屏 */
#section_first {
  padding: 180px 16px 24px;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 84px;
  /* background: linear-gradient(to bottom, #dfdddd 0%, #f1f0f0 100%); */
}

.rainbond_desc {
  box-sizing: border-box;
  position: relative;
}
.btns {
  width: 120px;
  text-align: center;
  display: inline-block;
  color: white;
  padding: 9px 20px;
  margin-left: -2px;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    var(--ifm-color-primary) 11.3%,
    var(--ifm-color-primary-light) 161.54%
  );
  box-shadow: rgb(0 105 165 / 35%) 0px 0px 32px;
  border-radius: var(--ifm-button-border-radius);
  font-family: 'Yuanti SC', Youyuan, 'You Yuan', 幼圆, 'PingFang SC',
    'Microsoft Yahei', Helvetica, sans-serif;
}
.btns:hover {
  color: #fff !important;
  text-decoration: none;
  transition: all 0.5s;
  transform: scale(1.01) !important;
}

.title {
  position: absolute;
  top: -72px;
  left: 0px;
}
.title img {
  width: 160px;
}
.open_source {
  font-weight: 800;
  color: #1890ff;
  font-style: italic;
  font-family: 'Yuanti SC', Youyuan, 'You Yuan', 幼圆, 'PingFang SC',
    'Microsoft Yahei', Helvetica, sans-serif;
}
.hide {
  display: none;
}
.play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#section_second {
  margin-bottom: 84px;
  padding: 0 16px;
}
/* 社区用户案例 */
.community_case {
  display: flex;
  flex-wrap: wrap;
}
.img_container {
  width: 10%;
  padding: 12px;
}
.img_container > a {
  display: block;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0px 8px;
}
.img_container > a > img {
  max-height: 6rem;
  min-width: 4rem;
}
/* 文档 */
#section_third {
  padding: 0 16px;
}
/* 标题处的logo */
.how_rainbond {
  background: linear-gradient(to right, #601bc4, #522fd1, #4940da);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 800;
  font-family: 'Yuanti SC', Youyuan, 'You Yuan', 幼圆, 'PingFang SC',
    'Microsoft Yahei', Helvetica, sans-serif;
}
.dosc_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px !important;
}
.dosc_logo > img {
  width: 100px;
  height: auto;
  object-fit: fill;
}
.docs {
  padding-left: 0px !important;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  list-style: none;
}
.docs > a {
  border-radius: 8px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
}
.docs > a:hover {
  box-shadow: 0px 0px 24px 12px rgba(32, 32, 32, 0.3);
  transition: all 0.5s;
  transform: scale(1.01);
  text-decoration: none !important;
}
.docs > a > .left_logo {
  position: absolute;
  left: 16px;
  top: 16px;
}
.docs > a > .left_logo > img {
  width: 32px;
  height: 32px;
}
.animate_arrow {
  position: absolute;
  top: -32px;
  right: 32px;
}
.desc {
  padding: 48px;
}
.desc .desc_title h4 {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  font-family: 'Yuanti SC', Youyuan, 'You Yuan', 幼圆, 'PingFang SC',
    'Microsoft Yahei', Helvetica, sans-serif;
}
.desc .desc_title h4 > a {
  text-decoration: none;
}
.desc .desc_detail {
  text-align: center;
}
.desc .desc_detail > p {
  color: #939393;
}
#section_fouth {
  padding: 50px 16px;
  // margin-bottom: 56px;
}
/* 视频教程 */
.carousel_container {
  display: flex;
}
.carousel_container > a {
  width: 50%;
  padding: 0px 24px 0px 0px;
}
.carousel_container > a > img {
  width: 100%;
  height: 100%;
}
/* 第五屏 */
#section_fifth {
}

/* 主页的自定义头部 */
.mdHeader {
  height: 84px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  .nav_bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav_container {
      height: 100%;
    }
    .left_logo {
      height: 100%;
      line-height: 110px;
    }
    // 左侧logo
    .left_logo img {
      width: 240px;
    }
    // 右侧列表
    .nav_container .nav_lists {
      height: 100%;
      display: flex;
      list-style: none;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 0px !important;
    }
    .nav_container .nav_lists > li {
      // margin-left: 16px;
      padding: 24px;
    }
    .nav_container .nav_lists > li > a {
      color: #3f3c3c;
    }
    .githubLogo {
      content: '';
      width: 24px;
      height: 24px;
      display: flex;
      background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
        no-repeat;
    }
  }
  .nav_container .nav_lists > li:hover a {
    color: #338bff;
    text-decoration: none;
  }
}
[data-theme='dark'] .mdHeader {
  background-color: #242526;
  .nav_container .nav_lists > li > a {
    color: #f5f6f7;
  }
  .githubLogo {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
      no-repeat;
  }
}
// 底部
.footer_container {
  padding: 48px 0px;
  // background-color: var(--background-color-light);
  // background: #f3f7ff;
  // background-image: linear-gradient(180deg, #e6efff 0%, #f3f7ff 100%);
  h1 {
    text-align: center;
    margin-bottom: 24px;
  }
  .join_type {
    padding: 0 16px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    & a {
      display: flex;
      align-items: center;
      .join_logo {
        position: relative;
        .hover_img {
          max-width: 9rem;
          position: absolute;
          top: -170px;
          left: 0;
        }
      }
      .join_logo img {
        max-width: 3.5rem;
        height: auto;
      }

      .join_detali {
        padding-left: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p {
          color: #000;
        }
      }
    }
    & a:hover {
      text-decoration: none;
    }
  }
}

// [data-theme='dark'] .footer_container {
//   background-color: var(--background-color-dark);
// }

.copyright {
  text-align: center;
}
// 遮罩层
.mask_div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1000;
}
.bili_video {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// 皮肤主体适配
[data-theme='dark'] .footer_container {
  .join_detali > p {
    color: #939393 !important;
  }
}
.enterprise_logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

// 体验模块
#section_experience {
  padding: 64px 16px;
  // 分类
  .experience_sort {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    & > div {
      // background-color: pink;
      .imgContainer {
        // text-align: center;
        padding-bottom: 30px;
      }
      .imgContainer {
        img {
          width: 150px;
          height: 150px;
        }
      }
      .experience_sort_title {
        font-size: 24px !important;
        text-align: left;
        // color: #000000;
      }
      .experience_sort_desc {
        display: flex;
        flex-direction: column;
        // align-items: center;
        ul {
          padding-left: 0;
          // color: #000000;
          list-style: none;
        }
        li {
          padding: 5px 0px;
        }
        b {
          color: var(--ifm-color-primary);
        }
      }
    }
  }
}
// 为什么选择Rainbond
#section_why_rainbond {
  padding: 64px 16px;
  // 描述
  .how_rainbond_desc_container {
    display: flex;
    justify-content: space-around;
    position: relative;
    .how_rainbond_btn {
      display: flex;
      flex-direction: column;
      & > button {
        width: 10rem;
        height: 3.5rem;
        text-align: center;
        transition: background-color pink green;
        margin-bottom: 1rem;
        border: 0;
        color: #fff;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
        font-size: 16px;
      }
    }
    .how_rainbond_desc {
      max-height: 135px;
      margin-left: 0px;
      max-width: 700px;
      display: flex;
      flex-wrap: wrap;
      & > div {
        width: 50%;
      }
      img {
        vertical-align: bottom;
      }
    }
    .how_rainbond_desc_container_start {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10rem;
      height: 3.5rem;
      margin-bottom: 1rem;
      border: 0;
      color: #fff;
      border-radius: 10px;
      font-weight: bold;
      cursor: pointer;
      font-size: 16px;
      position: absolute;
      bottom: 0;
      text-decoration: none;
    }
    .how_rainbond_desc_container_start:hover {
      background-color: #af3c5c;
    }
  }
}

@media screen and (max-width: 390px) {
  .imgContainer {
    margin-left: 50px;
  }
  .experience_sort_title {
    margin-left: 50px;
  }
  .experience_sort_desc {
    margin-left: 50px;
  }
}
.active_btn {
  background-color: #d14671;
}
.active_btn:hover {
  background-color: #af3c5c;
}

.default_btn {
  background-color: #a7a8ab;
}
.default_btn:hover {
  background-color: #909193;
}

.second {
  background-color: var(--background-color-light);
}

[data-theme='dark'] .second {
  background-color: var(--background-color-dark);
}

.third {
  // background-color: var(--background-color-light);
  padding: 64px 0px;
}

// [data-theme='dark'] .third {
//   background-color: var(--background-color-dark);
// }
.fouthBg {
  background-color: var(--background-color-light);
}

[data-theme='dark'] .fouthBg {
  background-color: var(--background-color-dark);
}
.know_rainbond_video {
  box-shadow: 0 5px 40px rgb(0 0 0 / 20%);
}

.know_rainbond_video:hover {
  box-shadow: 0px 0px 24px 12px rgba(32, 32, 32, 0.3);
}