@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .width {
    width: 100% !important;
  }
  /* 处理轮播图 */
}
@media screen and (max-width: 350px) {
  .rainbond_desc {
    margin-bottom: 60px !important;
  }
}
@media screen and (max-width: 660px) {
  .docs {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 450px) {
  .docs {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .btns {
    display: block !important;
    margin-bottom: 0.4rem;
  }
  #section_first div:nth-child(2) {
    margin-top: 0.4rem;
  }
  #section_second .img_container {
    width: 25% !important;
  }
  /* 视频 */
  .carousel_container {
    flex-wrap: wrap;
  }
  .carousel_container > a {
    width: 100% !important;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 1000px) {
  #section_first {
    grid-template-columns: 1fr !important;
  }
  /* 左侧简介 */
  .rainbond_desc {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 0px !important;
    margin-bottom: 24px;
  }
  .title {
    left: 16px !important;
  }
  .img_container {
    width: 20% !important;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.width {
  width: 1200px;
  margin: 0 auto;
}
/* 首屏 */
#section_first {
  padding: 180px 16px 24px;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 84px;
  /* background: linear-gradient(to bottom, #dfdddd 0%, #f1f0f0 100%); */
}

.rainbond_desc {
  box-sizing: border-box;
  position: relative;
}
.btns {
  width: 120px;
  text-align: center;
  display: inline-block;
  color: white;
  padding: 12px 20px;
  margin-left: -2px;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    var(--ifm-color-primary) 11.3%,
    var(--ifm-color-primary-light) 161.54%
  );
  box-shadow: rgb(0 105 165 / 35%) 0px 0px 32px;
  border-radius: 50px;
  font-family: 'Yuanti SC', Youyuan, 'You Yuan', 幼圆, 'PingFang SC',
    'Microsoft Yahei', Helvetica, sans-serif;
}
.btns:hover {
  color: #fff !important;
  text-decoration: none;
  transition: all 0.5s;
  transform: scale(1.01) !important;
}

.title {
  position: absolute;
  top: -72px;
  left: 0px;
}
.title img {
  width: 160px;
}
.open_source {
  font-weight: 800;
  color: #1890ff;
  font-style: italic;
  font-family: 'Yuanti SC', Youyuan, 'You Yuan', 幼圆, 'PingFang SC',
    'Microsoft Yahei', Helvetica, sans-serif;
}
.hide {
  display: none;
}
.play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#section_second {
  margin-bottom: 84px;
  padding: 0 16px;
}
/* 社区用户案例 */
.community_case {
  display: flex;
  flex-wrap: wrap;
}
.img_container {
  width: 10%;
  padding: 12px;
}
.img_container > a {
  display: block;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0px 8px;
}
.img_container > a > img {
  max-height: 6rem;
  min-width: 4rem;
}
/* 文档 */
#section_third {
  padding: 0 16px;
}
/* 标题处的logo */
.how_rainbond {
  background: linear-gradient(to right, #601bc4, #522fd1, #4940da);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 800;
  font-family: 'Yuanti SC', Youyuan, 'You Yuan', 幼圆, 'PingFang SC',
    'Microsoft Yahei', Helvetica, sans-serif;
}
.dosc_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px !important;
}
.dosc_logo > img {
  width: 100px;
  height: auto;
  object-fit: fill;
}
.docs {
  padding-left: 0px !important;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  list-style: none;
}
.docs > a {
  border-radius: 8px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
}
.docs > a:hover {
  box-shadow: 0px 0px 24px 12px rgba(32, 32, 32, 0.3);
  transition: all 0.5s;
  transform: scale(1.01);
  text-decoration: none !important;
}
.docs > a > .left_logo {
  position: absolute;
  left: 16px;
  top: 16px;
}
.docs > a > .left_logo > img {
  width: 32px;
  height: 32px;
}
.animate_arrow {
  position: absolute;
  top: -32px;
  right: 32px;
}
.desc {
  padding: 48px;
}
.desc .desc_title h4 {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  font-family: 'Yuanti SC', Youyuan, 'You Yuan', 幼圆, 'PingFang SC',
    'Microsoft Yahei', Helvetica, sans-serif;
}
.desc .desc_title h4 > a {
  text-decoration: none;
}
.desc .desc_detail {
  text-align: center;
}
.desc .desc_detail > p {
  color: #939393;
}
#section_fouth {
  padding: 0 16px;
  margin-bottom: 56px;
}
/* 视频教程 */
.carousel_container {
  display: flex;
}
.carousel_container > a {
  width: 50%;
  padding: 0px 24px 0px 0px;
}
.carousel_container > a > img {
  width: 100%;
  height: 100%;
}
/* 第五屏 */
#section_fifth {
}

/* 主页的自定义头部 */
.mdHeader {
  height: 84px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  .nav_bar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav_container {
      height: 100%;
    }
    .left_logo {
      height: 100%;
      line-height: 110px;
    }
    // 左侧logo
    .left_logo img {
      width: 240px;
    }
    // 右侧列表
    .nav_container .nav_lists {
      height: 100%;
      display: flex;
      list-style: none;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 0px !important;
    }
    .nav_container .nav_lists > li {
      margin-left: 16px;
      padding: 24px;
    }
    .nav_container .nav_lists > li > a {
      color: #3f3c3c;
    }
  }
  .nav_container .nav_lists > li:hover a {
    color: #338bff;
    text-decoration: none;
  }
}
// 底部
.footer {
  height: 64px;
  background-color: #353740;
}
// 遮罩层
.mask_div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1000;
}
.bili_video {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
