/* navbar的link链接图标 */
.navbar__item span svg {
  display: none !important;
}

/* 快速安装 tab */
.tabes {
  width: 100%;
  height: 830px;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
  overflow: hidden;
}
.tab-input {
  display: none;
}
.tab-item {
  margin-left: 0px;
  padding: 0px 20px;
  height: 50px;
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
}
.tab-item:hover {
  background-color: #ebedf0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.tab-tit {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}
.tab-input:checked + .tab-tit {
  color: #0fa7f9;
  border-bottom: 2px solid #0fa7f9;
}
.tab-content {
  width: 100%;
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  text-align: left;
  box-sizing: border-box;
}
.tab-input:checked ~ .tab-content {
  display: block;
}
