.container {
  text-align: center;
  margin-top: 5rem;
}

.hero_title {
  line-height: 50px;
}
.hero_title_one {
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(to right, #06b6d4, #2563eb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.hero_title_two {
  font-size: 60px;
  font-weight: 700;
}

/* .hero_title_three_div {
  border: 1px solid var(--semi-color-border);
  border-radius: 10px;
  margin: 0 auto;
  width: 53rem;
} */
.hero_title_three {
  font-size: 18px;
  font-weight: 600;
  /* color: var(--ifm-color-primary); */
  color: rgb(29 78 216 / 1);
  /* line-height: 25px; */
  border: 1px solid var(--semi-color-border);
  border-radius: 999px;
  margin: 0 auto;
  width: 53rem;
  background-color: rgb(239 246 255 / 1);
  border-color: rgb(219 234 254 / 1);
}

.hero_title_four {
  font-size: 18px;
  max-width: 42rem;
  line-height: 1.75rem;
  margin: 0 auto;
  font-weight: 500;
  margin-top: 15px;
}

.hero_button {
  margin-top: 4rem;
}

.hero_button_style {
  font-size: 16px !important;
  height: 50px !important;
  width: 180px !important;
}

.dotted_line {
  margin: 10rem 0 10rem 0;
  border-top: 1px dashed #e5e7eb;
}
