.rainbond_box{
    width: 1200px;
    margin: 90px auto;
    padding: 14px;
    border: 1px solid #ccc;
    background-color: #f0f2f5;
}
[data-theme='dark'] .rainbond_box{
    width: 1200px;
    margin: 90px auto;
    padding: 14px;
    border: 1px solid #ccc;
    background-color: #000;
}
[data-theme='dark'] .rainbond_heard{
    padding: 12px;
    border-bottom: 1px solid #ccc;
    background-color: #000;
}
.rainbond_heard{
    padding: 12px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
[data-theme='dark'] .rainbond_content{
    width: 100%;
    padding:0px 40px;
    margin: 0 auto;
    background-color: #000;
}
.rainbond_content{
    width: 100%;
    padding:0px 40px;
    margin: 0 auto;
    background-color: #fff;
}
.rainbond_content ~ div{
    display: flex;
    flex-flow: column;
}
.rainbond_title{
    padding-top: 14px;
}
.rainbond_ha{
    margin-left: 40px;
    margin-bottom: 20px;
}
.rainbond_line{
    border-bottom: 1px dashed #ccc;
}
.rainbond_gateway{
    margin-left: 64px; 
    margin-bottom: 20px;
}
.rainbond_rowsLeft{
    margin-left: 24px;
}
.rainbond_inputs{
    width: 240px !important;
    height: 26px;
    border: 1px solid #808080 !important;
    border-radius: 4px !important;
    padding-left: 4px;
    margin-right: 10px;
}
.ant-radio-input{
    margin-right: 10px !important;
}
.rainbond_rows{
    display: flex;
    height: 46px;
}
.rainbond_spanTitle{
    width: 240px;
    color: #808080;
    font-size: 14px;
}
.rainbond_databaseBox{
    margin-left: 40px;
}
.rainbond_dataInput{
    width: 240px !important;
    height: 26px;
    border: 1px solid #808080 !important;
    border-radius: 4px !important;
    padding-left: 4px;
    display: inline-block;
}
.rainbond_dataTitle{
    width: 100px;
    color: #808080;
    font-size: 14px;
}
.rainbond_rowsTitle{
    display: flex;
    margin-left: 140px;
    margin-bottom: -12px;
}
.rainbond_console{
    width: 240px;
    color: #808080;
}
.rainbond_region{
    width: 240px;
    margin-left: 40px;
    color: #808080;
}
.rainbond_btn{
    width: 160px;
    height: 40px;
    border-radius: 5px;
    background-color: #4E73B1;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
.rainbond_btnBox{
    padding-bottom: 60px;
}
.rainbond_DAinputs{
    width: 110px;
    height: 26px;
    margin-right: 10px;
    padding-left: 4px;
}
.rainbond_icons{
    margin-top: 4px;
    font-size: 18px;
    color: #808080;
}
.rainbond_copyContent{
    width: 100%;
    height: 260px;
    background-color: #4a4a4a;
    margin-top: 20px;
    border-radius: 4px;
    position: relative;
    padding: 24px;
    font-size: 12px;
    color: #fff;
    overflow: auto;
}
.rainbond_iconCopy{
    font-size: 18px;
    position: absolute;
    right: 1%;
    top: 3%;
    color: #fff;
}
.rainbond_iconCopys{
    font-size: 18px;
    position: absolute;
    right: 1%;
    top: 3%;
    color: #2491fe;
}
.ant-form-item-explain-error{
    font-size: 12px;
    color: #ff4d4f;
    margin-left: 4px;
}
.ant-form-item-control-input-content{
    display: flex;
}
.rainbond_formItem{
    margin-top: 10px;
}
.rainbond_spanCommand{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.message-tiny{
    width: 100vw;
    text-align: center;
    position: fixed;
    top: 20% !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 0;
    z-index: 10000 !important;
}