
/* 主题模式切换 */
[data-theme='dark'] .rainbond_box{
    width: 1200px;
    margin: 90px auto;
    padding: 14px;
    border: 1px solid #ccc;
    background-color: #000;
}

[data-theme='dark'] .rainbond_heard{
    padding: 12px;
    border-bottom: 1px solid #ccc;
    background-color: #000;
}
[data-theme='dark'] .rainbond_content{
    width: 100%;
    padding:0px 40px;
    margin: 0 auto;
    background-color: #000;
}
/* 整体盒子 */
.rainbond_box{
    width: 1200px;
    margin: 90px auto;
    padding: 14px;
    border: 1px solid #ccc;
    background-color: #f0f2f5;
}
/* 头部 */
.rainbond_heard{
    padding: 12px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
/* 内容 */
.rainbond_content{
    width: 100%;
    padding:0px 40px;
    margin: 0 auto;
    background-color: #fff;
}
.rainbond_content ~ div{
    display: flex;
    flex-flow: column;
}
.rainbond_title{
    padding-top: 14px;
}
.rainbond_ha{
    
    margin-left: 40px;
    margin-bottom: 20px;
}
.rainbond_has{
    position: relative;
}
.hint{
    position: absolute;
    top: 0%;
    left: 4%;
}
.hints{
    position: absolute;
    top: 48px;
    left: 136px;
}
.hintBox{
    position: absolute;
    top: 0px;
    left: 98px;
}
.hintDatabase{
    position: absolute;
    top: 0px;
    left: 112px;
}
.hintWarehouse{
    position: absolute;
    top: 0px;
    left: 126px;
}
.rainbond_line{
    border-bottom: 1px dashed #ccc;
}
.rainbond_lines{
    position: relative;
    border-bottom: 1px dashed #ccc;
}
.rainbond_gateway{
    margin-left: 64px; 
    margin-bottom: 20px;
}
.rainbond_rowsLeft{
    margin-left: 24px;
}
.rainbond_inputs{
    width: 296px !important;
    height: 26px;
    border: 1px solid #808080 !important;
    border-radius: 4px !important;
    padding-left: 4px;
    margin-right: 10px;
}
.ant-radio-input{
    margin-right: 10px !important;
}
.rainbond_rows{
    position: relative;
    display: flex;
    height: 46px;
}
.rainbond_rows_rwx{
    position: relative;
    display: flex;
    height: 26px;
}
.links{
    margin: 0px 0px 10px 240px;
}
.links a{
    font-size: 12px;
}
.ipHint{
    position: absolute;
    top: -2px;
    left: 58px;
}
.rainbond_spanTitle{
    width: 240px;
    color: #808080;
    font-size: 14px;
}
.rainbond_databaseBox{
    margin-left: 40px;
}
.rainbond_dataInput{
    width: 280px !important;
    height: 26px;
    border: 1px solid #808080 !important;
    border-radius: 4px !important;
    padding-left: 4px;
    display: inline-block;
}
.rainbond_dataTitle{
    width: 100px;
    color: #808080;
    font-size: 14px;
}
.rainbond_rowsTitle{
    display: flex;
    margin-left: 140px;
    margin-bottom: -12px;
}
.rainbond_console{
    width: 280px;
    color: #808080;
}
.rainbond_region{
    width: 280px;
    margin-left: 40px;
    color: #808080;
}
.rainbond_btn{
    width: 160px;
    height: 40px;
    border-radius: 5px;
    background-color: #4E73B1;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
.rainbond_btnBox{
    padding-bottom: 60px;
}
.rainbond_DAinputs{
    width: 180px;
    height: 26px;
    margin-right: 10px;
    padding-left: 4px;
}
.rainbond_icons{
    margin-top: 4px;
    font-size: 18px;
    color: #808080;
}
.rainbond_copyContent{
    width: 100%;
    height: 260px;
    background-color: #4a4a4a;
    margin-top: 20px;
    border-radius: 4px;
    position: relative;
    padding: 24px;
    font-size: 12px;
    color: #fff;
    overflow: auto;
}
.rainbond_iconCopy{
    font-size: 18px;
    position: absolute;
    right: 1%;
    top: 3%;
    color: #fff;
}
.rainbond_iconCopys{
    font-size: 18px;
    position: absolute;
    right: 1%;
    top: 3%;
    color: #2491fe;
}
.ant-form-item-explain-error{
    font-size: 12px;
    color: #ff4d4f;
    margin-left: 4px;
}
.ant-form-item-control-input-content{
    display: flex;
}
.rainbond_formItem{
    margin-top: 10px;
}
.rainbond_spanCommand{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
/* 提示信息框 */
.etcd_hint{
    padding: 12px;
    background-color: #fffbe6;
    border-radius: 5px;
    position: fixed;
    top: 20%;
    right: 1%;
    box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 
                0 2px 4px rgb(0 0 0 / 7%), 
                0 4px 8px rgb(0 0 0 / 7%), 
                0 8px 16px rgb(0 0 0 / 7%), 
                0 16px 32px rgb(0 0 0 / 7%), 
                0 32px 64px rgb(0 0 0 / 7%);
    z-index: 10001;
}
.etcd_hint span{
    margin-left: 4px;
}