---
layout: default
---

<div class="post-header">
  <h1 class="post-title-main">{% if page.homepage == true %} {{site.homepage_title}} {% else %}{{ page.title }}{% endif %}</h1>
  {% unless page.contribute == false %}
      {% include contribute-options.html %}
  {% endunless %}
</div>

<div class="post-content">
  <!--
       TOC LEVEL: By default, a page TOC includes h2 and h3 headers. To limit a
       page TOC to h2 headers only, set `toc_not_nested: true` in the page's
       front-matter.

       TOC PLACEMENT: To place the toc at the top of the page, set `toc: true`
       in the page's front-matter. To place the toc somewhere else, set `toc:
       false` in the front-matter, and then include the below
       <div> manually where you want it.
   -->
   {% if page.toc %}
      <div id="toc"></div>
   {% endif %}

   {% if page.expand == true %}
      {% include expand.html %}
   {% endif %}

   {{content}}
</div>

{% if page.homepage != true %}
   <script>
      anchors.add('h2, h3, h4, h5');
   </script>
{% endif %}

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?19583a0ffdf6a67e3798ed126b51af5f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script>
  (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
  })();
  </script>